/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/

:host ::ng-deep .p-panel .p-panel-content {
  padding: 0;
}

:host ::ng-deep .p-datatable.p-datatable-gridlines .p-paginator-bottom {
  padding: 0;
}

/* adapt dropdown box to row height */
.unit-dropdown ::ng-deep .p-dropdown-label {
  padding: 0.25rem 0.5rem;
}

p-panel.list-box ::ng-deep .ui-panel-content {
  padding: 0;
}
p-panel.list-box ::ng-deep .ui-virtualscroller-content {
  border: none;
}

p-listbox ::ng-deep .ui-listbox{
  border: none;
}

.channelList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  min-height: 80px;
}

.list-box-item {
  white-space: nowrap;
  padding: 0.429em 0.857em;
  cursor: pointer;
}
.list-box-item.state-highlight, .list-box-item.state-highlight:hover {
  color: #ffffff;
  background-color: #007ad9;
}

.list-box-item:hover {
  color: #333333;
  background-color: #eaeaea;
}

.list-box-item .ui-chkbox {
  margin-right: 0.5em;
}

.channeltable td {
    word-break: break-all;
}
.title-bar.y-channels {
  column-gap: 6px;
  grid-template-columns: 1rem auto 1rem 1rem;
}
.filter-container3 {
  display: grid;
  grid-template-columns: 2em auto;
  align-items: center;
}

.filter-container {
  position: relative;
}

.filter-input-group {
  line-height: 1;
  position: absolute;
  left: 2.3rem;
  z-index: 99;
  top: 2.4rem;
  right: .25rem;
}

.filter-input-field {
  width: calc(100% - 2.2rem);
}


p-listbox ::ng-deep .ui-listbox-header.ui-listbox-header-w-checkbox {
  height: 2.5rem;
  display: flex;
  align-items: center;
}

p-listbox.hiddenList ::ng-deep .ui-listbox-header.ui-listbox-header-w-checkbox {
  display: none;
}

p-selectButton ::ng-deep .ui-selectbutton .ui-button {
  width: 33%;
  padding: 6px 8px;
  border: 1px solid#acacac;
  border-collapse: collapse;
  border-right: none;
}

p-selectButton ::ng-deep .ui-selectbutton .ui-button:last-child {
  border-right: 1px solid#acacac;
}

p-selectButton ::ng-deep .ui-selectbutton .ui-button.ui-state-active {
  border-color: #005da6;
}
