<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div class="grid p-fluid">
  <!-- Input field for name of new entity  -->
  <div class="field col-12">
    <label>{{ "entity-creator.dialog.name" | translate }}</label>
    <input
      #newEntityName
      type="text"
      class="form-control"
      title="{{ inputTooltip }}"
      value=""
      placeholder="{{ inputPlaceholder }}"
      (input)="isValidChildEntityName(newEntityName.value)"
      (keyup.enter)="createChildEntity(newEntityName.value)"
    />
  </div>
  <!-- Combobox for the selection of 'Test-template' if the new entity is a 'Test' -->
  <div class="field col-12" *ngIf="displayTemplateItems">
    <label>{{ "entity-creator.dialog.label-templates" | translate : { type: this.templateType } }}</label>
    <p-dropdown
      [options]="templateItems"
      (onChange)="onSelectTemplateItem($event)"
      [style]="{ width: '100%' }"
      [showClear]="true"
      appendTo="body"
      placeholder="{{ 'entity-creator.dialog.label-placeholder' | translate : { type: this.templateType } }}"
    ></p-dropdown>
  </div>
</div>
<!-- Buttons for create or cancel actions -->
<div class="p-dialog-footer">
  <p-button
    [disabled]="!this.validEntityName"
    styleClass="ml-1"
    (onClick)="createChildEntity(newEntityName.value)"
    [label]="'entity-creator.dialog.btn-create' | translate"
  ></p-button>
  <p-button styleClass="ml-1" (onClick)="closeDialog()" [label]="'entity-creator.dialog.btn-cancel' | translate"></p-button>
</div>

<!-- Error dialog for any error while create new child entity -->
<p-confirmDialog shorstyle="margin-top: 10px; margin-bottom: 20px;" [baseZIndex]="10000" icon="pi pi-exclamation-triangle">
</p-confirmDialog>
