<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<p-tree class="mdmtree" [value]="nodes" selectionMode="single" (onNodeExpand)="loadNodes($event)" (onNodeSelect)="nodeSelect($event)">
  <ng-template let-node pTemplate="default">
    <span [title]="node.label">{{ node.data.label }}</span>
  </ng-template>

  <ng-template let-node pTemplate="group">
    <span [title]="node.label">{{ node.data.boType | mdmTranslate : node.data.attributes[0].source | async }}</span>
  </ng-template>

  <ng-template let-node pTemplate="attribute">
    <span [title]="node.label">{{ node.data.boType | mdmTranslate : node.data.source : node.data.attrName | async }}</span>
  </ng-template>
</p-tree>
