<div class="mt-5 pl-3" *ngFor="let tpl of testTpls">
  <div class="row">
    <div class="col-3">
      <span>{{ "administration.testTpl.name" | translate }}</span>
    </div>
    <div class="col-5" *ngIf="tpl.validFlag === 'EDITABLE'">
      <input (change)="updateTestTpl(tpl)" pInputText type="text" class="form-control" [(ngModel)]="tpl.name" />
    </div>
    <div class="col-4" *ngIf="tpl.validFlag !== 'EDITABLE'">
      {{ tpl.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <span>{{ "administration.testTpl.description" | translate }}</span>
    </div>
    <div class="col-9">
      <input (change)="updateTestTpl(tpl)" pInputText type="text" class="form-control" [(ngModel)]="tpl.description" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-3">
      <span>{{ "administration.testTpl.version" | translate }}: </span>
    </div>
    <div class="col-9">
      {{ tpl.version }}
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-3">
      <span>{{ "administration.testTpl.status" | translate }}: </span>
    </div>
    <div class="col-9">
      {{ tpl.validFlag }}
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-3">
      <span>{{ "administration.testTpl.dateCreated" | translate }}: </span>
    </div>
    <div class="col-9">
      {{ tpl.dateCreated }}
    </div>
  </div>

  <div class="row d-flex">
    <div class="col-3">
      <span>{{ "administration.testTpl.mappedTestStepTpl" | translate }}:</span>
    </div>
    <div class="col-9">
      <p-table
        (onRowReorder)="onRowReorder($event)"
        (onEditComplete)="onEditComplete($event)"
        (onEditInit)="onAttrEditInit($event)"
        [value]="testStepTemplateUsage"
        [(selection)]="selectedTestStepTplUsage"
        dataKey="id"
        selectionMode="single"
        styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
      >
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th>
              {{ "administration.testTpl.testStepTpl" | translate }}
            </th>
            <th>
              {{ "administration.testTpl.optional" | translate }}
            </th>
            <th>
              {{ "administration.testTpl.defaultActive" | translate }}
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template let-tpl pTemplate="body" let-index="rowIndex" let-editing="editing">
          <tr [pSelectableRow]="tpl" [pReorderableRow]="index" [pEditableRow]="tpl">
            <td>
              <span class="pi pi-bars" pReorderableRowHandle></span>
            </td>
            <td>
              <h6>{{ tpl.name }}</h6>
            </td>
            <td>
              <p-checkbox
                (onChange)="updateTestStepTpl(tpl)"
                trueValue="true"
                falseValue="false"
                [(ngModel)]="tpl.optional"
                [binary]="true"
              ></p-checkbox>
            </td>
            <td>
              <p-checkbox
                (onChange)="updateTestStepTpl(tpl)"
                trueValue="true"
                falseValue="false"
                [(ngModel)]="tpl.defaultActive"
                [binary]="true"
              ></p-checkbox>
            </td>
            <td>
              <p-button icon="pi pi-trash" (onClick)="openDeleteDialog(tpl)"></p-button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            <span></span>
            <p-button
              icon="pi pi-plus"
              class="create-btn"
              [label]="'administration.testTpl.createAdditionalTestStepTemplate' | translate"
              (onClick)="openCreateDialog()"
            ></p-button>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog [header]="'administration.testTpl.createAdditionalTestStepTemplate' | translate" [(visible)]="showCreate" class="create-testtpl">
  <p-dropdown
    [options]="testStepTpls"
    [(ngModel)]="selectedTestStepTpl"
    optionLabel="name"
    [placeholder]="'administration.testTpl.dropdown-please-select' | translate"
    appendTo="body"
  ></p-dropdown>
  <br />
  <p-button
    class="create-btn"
    [label]="'administration.testTpl.create' | translate"
    (onClick)="createTestStepTplUsage(selectedTestStepTpl)"
  ></p-button>
</p-dialog>

<p-dialog header="Delete" [(visible)]="showDeleteDialog" [style]="{ width: '20vw' }">
  <label class="mb-3">{{ "administration.testTpl.deleteDialog" | translate }}</label>
  <p-button class="float-right mt-3" [label]="'administration.testTpl.cancel' | translate" (onClick)="showDeleteDialog = false"></p-button>

  <p-button
    class="float-right mr-2 mt-3"
    [label]="'administration.testTpl.delete' | translate"
    (onClick)="deleteTestStepTplUsage()"
  ></p-button>
</p-dialog>
