p-dropdown {
  display: grid !important;
}

span {
  vertical-align: -webkit-baseline-middle;
}
td {
  text-align: center;
}

p-dialog.create-testtpl ::ng-deep .p-dialog-content {
  overflow-y: inherit !important;
}
