/********************************************************************************
 * Copyright (c) 2024 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/

:host ::ng-deep .p-treetable-scrollable-header {
  flex-grow: 0; flex-shrink: 0;
}

:host ::ng-deep .p-treetable-frozen-view > .p-treetable-scrollable-body .p-treetable-tbody > tr > td:last-child,
:host ::ng-deep .p-treetable-frozen-view > .p-treetable-scrollable-header .p-treetable-thead > tr > th:last-child
{
  border-right: 4px solid #dee2e6;
}
:host ::ng-deep .p-treetable .p-treetable-thead > tr > th,
:host ::ng-deep .p-treetable .p-treetable-tbody > tr > td {
  padding: 0 .25rem;
}
:host ::ng-deep .p-treetable .p-treetable-tbody > tr.context-component-tree-table-row {
  background-color: #dee2e6;
}

.not-in-template {
  background: repeating-linear-gradient(-45deg, #dee2e6, #dee2e6 2px, white 2px, white 4px);
}
:host ::ng-deep .p-treetable .p-treetable-tbody > tr:hover > td.not-in-template {
  background: repeating-linear-gradient(-45deg, #cacaca, #cacaca 2px, white 2px, white 4px);
}
 
:host ::ng-deep .p-inputtext {
  padding: .125rem .25rem;
}
:host ::ng-deep .p-inputtext:focus {
  box-shadow: none;
}

:host ::ng-deep .p-treetable .p-treetable-tbody > tr,
:host ::ng-deep .p-treetable .p-treetable-thead > tr,
:host ::ng-deep .p-treetable .p-treetable-tbody > tr > td.tree-table-cell {
  height: 1.5rem;
}

:host ::ng-deep .p-treetable .p-treetable-tbody > tr > td.tree-table-cell .p-togglebutton.p-button.p-highlight {
  background:#DC2626;
  border-color: #DC2626;
  box-shadow: none;
}
:host ::ng-deep .p-treetable .p-treetable-tbody > tr > td.tree-table-cell .p-togglebutton.p-button {
  box-shadow: none;
  height: 1.25rem;
  width: 1.25rem;
  font-size: .875rem;
}

.content-box {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  align-content: center;
}

.toggler-cell-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

.caption-wrapper {
  text-align: end;
  padding: .25rem;
}

.attribute-editor-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: .25rem;
  align-items: center;
}