<!--********************************************************************************
 * Copyright (c) 2024 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div style="height: calc(100% - 2.625rem)">
  <p-treeTable
    #contextTypeTreeTable
    [value]="treeNodes"
    [columns]="columns"
    [frozenColumns]="frozenColumns"
    [scrollable]="true"
    scrollHeight="flex"
    [frozenWidth]="frozenColumns.length * 16 + 'rem'"
    styleClass="p-treetable-gridlines"
    dataKey="dataKey"
    [rowTrackBy]="rowTrackBy"
    [rowHover]="true"
    [loading]="isLoading"
  >
    <ng-template pTemplate="caption">
      <div class="caption-wrapper">
        <p-button
          (onClick)="onSynchronizeContextDescribables()"
          styleClass="ml-1"
          *ngIf="!isInEditMode"
          [pTooltip]="'context-bulk-editor.context-bulk-editor-tree-table.btn-update' | translate"
          tooltipPosition="left"
          icon="fa fa-refresh"
          showDelay="500"
        >
        </p-button>
        <p-button
          (onClick)="onEdit()"
          styleClass="ml-1"
          *ngIf="!isInEditMode"
          [pTooltip]="'context-bulk-editor.context-bulk-editor-tree-table.btn-edit' | translate"
          tooltipPosition="left"
          icon="fa fa-pencil"
          showDelay="500"
          [disabled]="!(treeNodes?.length > 0)"
        >
        </p-button>
        <p-button
          (onClick)="onSaveChanges()"
          *ngIf="isInEditMode"
          styleClass="ml-1"
          [pTooltip]="'context-bulk-editor.context-bulk-editor-tree-table.btn-save' | translate"
          tooltipPosition="left"
          icon="pi pi-check"
          showDelay="500"
        >
        </p-button>
        <p-button
          (onClick)="onCancelEdit()"
          *ngIf="isInEditMode"
          styleClass="ml-1 p-button-secondary"
          [pTooltip]="'context-bulk-editor.context-bulk-editor-tree-table.btn-cancel' | translate"
          tooltipPosition="left"
          icon="fa fa-ban"
          showDelay="500"
        >
        </p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" style="width: 16rem; height: 100%" />
      </colgroup>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr *ngIf="showGroupHeader">
        <ng-container *ngFor="let col of columns; let i = index">
          <th *ngIf="i % 2 === 0" colspan="2">
            <span *ngIf="col.groupHeader" class="content-box">
              {{ col.groupHeader | translate }}
            </span>
          </th>
        </ng-container>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <div class="content-box">
            {{ col.header | translate }}
          </div>
        </th>
      </tr>
      <tr>
        <th *ngFor="let col of columns">
          <input
            *ngIf="col.field !== 'globalAttribute'"
            pInputText
            type="text"
            (input)="contextTypeTreeTable.filter($event.target.value, col.field, 'contains')"
            style="width: 100%"
            [placeholder]="col.placeholder ?? col.header | translate"
            [disabled]="!(treeNodes?.length > 0)"
          />
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-treeNode="node" let-rowData="rowData" let-columns="columns">
      <tr [class]="treeNode.styleClass">
        <td
          *ngFor="let col of columns"
          class="tree-table-cell"
          [ngClass]="{'not-in-template': treeNode.type === 'attribute' && rowData?.[col.field] === undefined}"
        >
          <span class="content-box">
            <mdm-attribute-viewer [contextAttribute]="rowData?.[col.field + '#attributeIdentifier']"></mdm-attribute-viewer>
          </span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="frozenbody" let-nodeWrapper let-treeNode="node" let-rowData="rowData" let-columns="columns">
      <tr [ttRow]="nodeWrapper" [class]="treeNode.styleClass">
        <td *ngFor="let col of columns; let i = index" class="tree-table-cell">
          <div [ngClass]="{ 'toggler-cell-wrapper': i === 0 }" style="height: 100%; overflow: hidden">
            <p-treeTableToggler [rowNode]="nodeWrapper" *ngIf="i === 0"></p-treeTableToggler>
            <span class="content-box" [ngSwitch]="col.field">
              <ng-container *ngSwitchCase="'name'">
                {{ rowData?.mimeType | mdmTranslate : rowData.sourceName : (treeNode.type === 'attribute' ? rowData?.[col.field] : undefined) | async }}
              </ng-container>
              <div *ngSwitchCase="'globalAttribute'" class="attribute-editor-grid">
                <mdm-attribute-editor
                  [readOnly]="rowData.deleteValue"
                  *ngIf="treeNode.type === 'attribute'"
                  [contextAttribute]="rowData?.globalAttribute"
                ></mdm-attribute-editor>
                <p-toggleButton
                  [(ngModel)]="rowData.deleteValue"
                  class="p-button-danger p-button-outlined"
                  onIcon="fa fa-times"
                  offIcon="fa fa-times"
                  *ngIf="treeNode.type === 'attribute'"
                  [pTooltip]="'context-bulk-editor.context-bulk-editor-tree-table.btn-mark-value-for-deletion' | translate"
                  showDelay="500"
                ></p-toggleButton>
              </div>
              <ng-container *ngSwitchDefault>
                {{ rowData?.[col.field] }}
              </ng-container>
            </span>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns let-frozen="frozen">
      <tr>
        <td [attr.colspan]="columns.length">
          <span *ngIf="!frozen">
            <ng-container *ngIf="!(treeNodes?.length > 0); else norecords">
              {{ "context-bulk-editor.context-bulk-editor-tree-table.empty-msg-no-items" | translate }}
            </ng-container>
            <ng-template #norecords>
              {{ "context-bulk-editor.context-bulk-editor-tree-table.empty-msg-no-records" | translate }}
            </ng-template>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
