/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/
 
.header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
:host ::ng-deep .p-panel-content {
  overflow: auto;
  padding: 0;
  max-height: calc(30rem - 45px);
  height: calc(100% - 45px);
}

:host ::ng-deep .p-panel-toggleable.p-panel-expanded .p-toggleable-content:not(.ng-animating) {
  height: 100%;
  overflow: auto;
  padding: 0.5rem;
}