<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<p-panel [toggleable]="true" [collapsed]="collapsed" expandIcon="fa fa-chevron-right fa-lg" collapseIcon="fa fa-chevron-down fa-lg">
  <p-header style="display: flex; flex-grow: 1">
    <div class="header-wrapper">
      <div>
        <span class="pannel-icon-header">
          {{ parameterSet.label }}
        </span>

        <span class="btn-group">
          <button
            (click)="editDialogParameterSet(); $event.stopPropagation()"
            type="button"
            class="btn btn-mdm"
            title="{{ 'details.parameterset.edit-parameterset' | translate }}"
          >
            <span class="fa fa-pencil"></span>
          </button>
          <button
            (click)="removeParameterSet(); $event.stopPropagation()"
            type="button"
            class="btn btn-mdm"
            title="{{ 'details.parameterset.remove-parameterset' | translate }}"
          >
            <span class="fa fa-trash"></span>
          </button>
        </span>
      </div>
      <span class="btn-group">
        <button
          *ngIf="!editMode && canEdit"
          type="button"
          class="btn btn-mdm"
          (click)="editParameterSet(); $event.stopPropagation()"
          title="{{ 'details.parameterset-panel.btn-edit-parameterset' | translate }}"
        >
          <span class="fa fa-pencil"></span>
        </button>
        <button
          (click)="onCancelEdit(); $event.stopPropagation()"
          *ngIf="editMode"
          class="btn btn-mdm"
          title="{{ 'details.parameterset-panel.btn-cancel-parameterset' | translate }}"
        >
          <span class="fa fa-ban"></span>
        </button>
        <button
          *ngIf="editMode"
          type="button"
          class="btn btn-mdm"
          (click)="saveParameterSet(); $event.stopPropagation()"
          title="{{ 'details.parameterset-panel.btn-save-parameterset' | translate }}"
        >
          <span class="fa fa-save"></span>
        </button>
        <button
          type="button"
          class="btn btn-mdm"
          (click)="addParameter(); $event.stopPropagation()"
          title="{{ 'details.parameterset-panel.add-parameter' | translate }}"
        >
          <span class="fa fa-file-o"></span>
        </button>
      </span>
    </div>
  </p-header>

  <p-table [columns]="columns" [value]="parameterSet.parameters" class="table table-hover" [scrollable]="true" scrollHeight="flex">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 70px"></th>
        <th>{{ "details.parameterset-panel.tblhdr-parameter" | translate }}</th>
        <th>{{ "details.parameterset-panel.tblhdr-value" | translate }}</th>
        <th>{{ "details.parameterset-panel.tblhdr-unit" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td style="width: 70px">
          <button
            type="button"
            class="btn btn-mdm"
            title="{{ 'details.parameterset-panel.remove-parameter' | translate }}"
            (click)="removeParameter(rowData)"
          >
            <span class="fa fa-trash"></span>
          </button>
        </td>
        <td pEditableColumn *ngFor="let col of columns">
          <span class="ui-column-title">{{ col.header }}</span>
          <div *ngIf="editMode; else notEditable" [ngSwitch]="col.field">
            <p-cellEditor *ngSwitchCase="'value'">
              <ng-template pTemplate="input">
                <ng-container [ngSwitch]="rowData.dataType">
                  <p-inputSwitch *ngSwitchCase="dataType.boolean" [(ngModel)]="rowData[col.field]"></p-inputSwitch>
                  <p-calendar *ngSwitchCase="dataType.date" [showIcon]="true" appendTo="body" [(ngModel)]="rowData.dateValue"></p-calendar>
                  <input *ngSwitchDefault type="text" pInputText [(ngModel)]="rowData[col.field]" required />
                </ng-container>
              </ng-template>
              <ng-template pTemplate="output">
                <div>{{ formatOutput(rowData, col.field) }}</div>
              </ng-template>
            </p-cellEditor>
            <p-cellEditor *ngSwitchCase="'unit'">
              <ng-template pTemplate="input">
                <p-dropdown
                  *ngIf="canSetUnitForParam(rowData); else output"
                  (onChange)="onParameterUnitUpdated($event, rowData)"
                  [options]="tmpUnits"
                  [(ngModel)]="rowData.unitId"
                  [filter]="true"
                  filterBy="label"
                  [showClear]="true"
                  appendTo="body"
                  placeholder="{{ 'details.parameterset-panel.unit-dropdown-placeholder' | translate }}"
                ></p-dropdown>
                <ng-template #output>
                  <div>{{ formatOutput(rowData, col.field) }}</div>
                </ng-template>
              </ng-template>
              <ng-template pTemplate="output">
                <div>{{ formatOutput(rowData, col.field) }}</div>
              </ng-template>
            </p-cellEditor>
            <div *ngSwitchDefault>{{ formatOutput(rowData, col.field) }}</div>
          </div>
          <ng-template #notEditable>
            <div *ngIf="rowData.linkValue && col.field === 'value'; else normalOuput">
              <a *ngFor="let refLink of rowData.linkValue" [href]="refLink.link" target="_blank"> {{ refLink.text }} </a>
            </div>
            <ng-template #normalOuput>
              <div>{{ formatOutput(rowData, col.field) }}</div>
            </ng-template>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>

<p-dialog
  header="{{ 'details.parameterset-panel.dialog-parameterset-delete-title' | translate }}"
  [(visible)]="dialogParameterSetDelete"
  (onHide)="cancelRemoveParameterSet()"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="text">
        <span>{{ "details.parameterset-panel.dialog-parameterset-delete-text" | translate }}</span
        >&nbsp;<strong *ngIf="parameterSet">{{ parameterSet.name }}</strong>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fa fa-trash"
        (click)="confirmRemoveParameterSet()"
        label="{{ 'administration.units.btn-del' | translate }}"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  header="{{ 'details.parameterset-panel.dialog-parameter-delete-title' | translate }}"
  [(visible)]="dialogParameterDelete"
  (onHide)="cancelRemoveParameter()"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="text">
        <span>{{ "details.parameterset-panel.dialog-parameter-delete-text" | translate }}</span
        >&nbsp;<strong *ngIf="tmpParamToDelete">{{ tmpParamToDelete.name }}</strong>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fa fa-trash"
        (click)="confirmRemoveParameter()"
        label="{{ 'administration.units.btn-del' | translate }}"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  header="{{ 'details.parameterset-panel.dialog-parameterset-edit-title' | translate }}"
  [(visible)]="dialogParameterSetEdit"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  (onHide)="cancelEditParameterSet()"
  [contentStyle]="{ width: '44em', 'min-height': '5em' }"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="paramset_name">{{ "details.parameterset.parameterset-name" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input id="paramset_name" pInputText [(ngModel)]="tmpParameterSetEdit.name" class="form-control" />
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fa fa-check"
        (click)="confirmEditParameterSet()"
        label="{{ 'administration.units.btn-save' | translate }}"
      ></button>
      <button
        type="button"
        pButton
        icon="fa fa-close"
        (click)="cancelEditParameterSet()"
        label="{{ 'administration.units.btn-cancel' | translate }}"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  header="{{ 'details.parameterset-panel.add-parameter' | translate }}"
  [(visible)]="dialogAddParam"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  (onHide)="hideDialogAdd()"
  [contentStyle]="{ width: '44em', 'min-height': '10em' }"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="paramset_name">{{ "details.parameterset.parameterset-name" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input
          id="paramset_name"
          (input)="validateForm()"
          pInputText
          [ngClass]="{ 'ng-invalid ng-dirty': formNameInvalidate }"
          [(ngModel)]="tmpParamAdd.name"
          class="form-control"
        />
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="paramset_dataType">{{ "details.parameterset-panel.data-type" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown
          id="paramset_dataType"
          (onClear)="onParameterTypeChanged()"
          (onChange)="onParameterTypeChanged()"
          [ngClass]="{ 'ng-invalid ng-dirty': formTypeInvalidate }"
          [options]="tmpDataTypes"
          [(ngModel)]="tmpParamAdd.dataType"
          [showClear]="true"
          appendTo="body"
          placeholder="{{ 'details.parameterset-panel.data-type-dropdown-placeholder' | translate }}"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12" *ngIf="parameterTypeSet">
      <div class="ui-g-4">
        <label for="paramset_value">{{ "details.parameterset-panel.data-value" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input pInputText *ngIf="isValueAvailable('string')" id="paramset_value" [(ngModel)]="tmpParamAdd.stringValue" />
        <input pInputText *ngIf="isValueAvailable('integer')" id="paramset_value" [(ngModel)]="tmpParamAdd.integerValue" />
        <input pInputText *ngIf="isValueAvailable('double')" id="paramset_value" [(ngModel)]="tmpParamAdd.doubleValue" />
        <p-inputSwitch *ngIf="isValueAvailable('boolean')" id="paramset_value" [(ngModel)]="tmpParamAdd.booleanValue"></p-inputSwitch>
        <p-calendar
          [showIcon]="true"
          appendTo="body"
          *ngIf="isValueAvailable('date')"
          id="paramset_value"
          [(ngModel)]="tmpParamAdd.dateValue"
        ></p-calendar>
      </div>
    </div>

    <div class="ui-g-12" *ngIf="canSetUnit()">
      <div class="ui-g-4">
        <label for="paramset_unit">{{ "details.parameterset-panel.unit" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown
          id="paramset_unit"
          [options]="tmpUnits"
          [(ngModel)]="tmpParamAdd.unitId"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
          appendTo="body"
          placeholder="{{ 'details.parameterset-panel.unit-dropdown-placeholder' | translate }}"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="fa fa-check"
        (click)="saveDialogAdd()"
        label="{{ 'administration.units.btn-save' | translate }}"
      ></button>
      <button
        type="button"
        pButton
        icon="fa fa-close"
        (click)="cancelDialogAdd()"
        label="{{ 'administration.units.btn-cancel' | translate }}"
      ></button>
    </div>
  </p-footer>
</p-dialog>
