<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<p-splitter stateKey="mdm-navigator-view.splitter" [panelSizes]="[20, 80]" styleClass="border-none" [style]="{ height: '100% ' }">
  <ng-template pTemplate>
    <div class="navigator">
      <mdm-navigator></mdm-navigator>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="view-wrapper">
      <div style="height: 100%; overflow: hidden; width: 100%">
        <router-outlet></router-outlet>
      </div>

      <mdm-basket (selected)="updateSelectedNode($event)" [activeNode]="activeNode" (activated)="updateActiveNode($event)"></mdm-basket>
      <!-- <p-scrollTop target="parent" threshold="200"></p-scrollTop> -->
    </div>
  </ng-template>
</p-splitter>
