/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/

:host
  ::ng-deep
  .p-dropdown
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host ::ng-deep .p-splitter-panel {
  flex-direction: column;
  width: 15rem;
  min-width: 15rem;
}

.navigator {
  overflow: hidden;
  height: 100%;
}
.view-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
