<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<p-dialog
  [(visible)]="showDialog"
  [modal]="true"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw', height: '50vh' }"
  (onHide)="closeDialog()"
>
  <ng-template pTemplate="header">
    <span class="p-dialog-title">{{
      "file-explorer.file-explorer.hdr-file-import-wizard" | translate : { name: selectedDatasource }
    }}</span>
  </ng-template>

  <p-table [value]="selectedFileMetasImport" styleClass="p-datatable-gridlines" [scrollable]="true" scrollHeight="flex">
    <!-- caption -->
    <ng-template pTemplate="caption">
      <div class="flex">
        <div class="align-self-center">{{ "file-explorer.file-explorer.target-datasource" | translate }}</div>
        <p-dropdown [options]="datasources" [(ngModel)]="selectedDatasource" styleClass="ml-1"></p-dropdown>
        <div class="align-self-center" style="margin-left: auto">{{ "file-explorer.file-explorer.dropdown-filetype" | translate }}</div>
        <p-dropdown
          [options]="fileTypes"
          [(ngModel)]="fileType"
          styleClass="ml-2"
          [title]="'file-explorer.file-explorer.dropdown-filetype' | translate"
        ></p-dropdown>
        <!-- remove all -->
        <p-button
          icon="fa fa-eraser"
          styleClass="ml-2"
          (onClick)="onClearSelectedFileMetasUpload($event)"
          [title]="'file-explorer.file-explorer.btn-remove-all-files-from-selection' | translate"
          [disabled]="selectedFileMetasUpload?.length == 0"
        >
        </p-button>
      </div>
    </ng-template>

    <!-- header -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px"></th>
        <th>{{ "file-explorer.file-explorer.hdr-filename" | translate }}</th>
        <th>{{ "file-explorer.file-explorer.hdr-size" | translate }}</th>
        <th style="width: 68px"></th>
      </tr>
    </ng-template>

    <!-- body -->
    <ng-template pTemplate="body" let-filedata>
      <tr>
        <td>
          <thumbnail [imgUrl]="filedata.dataUrl" [type]="filedata.file.type"></thumbnail>
        </td>
        <td>{{ filedata.file.name }}</td>
        <td>{{ filedata.file.size | fileSize : formatSize.BINARY }}</td>
        <td>
          <p-button
            icon="fa fa-times"
            (onClick)="onRemoveFile($event, filedata)"
            [title]="'file-explorer.file-explorer.btn-remove-file-from-selection' | translate"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      {{ "file-explorer.file-explorer.hint" | translate }}
    </ng-template>
  </p-table>

  <ng-template pTemplate="footer">
    <div class="flex">
      <!-- upload -->
      <p-fileUpload
        mode="basic"
        class="flex-auto text-left"
        [auto]="true"
        [customUpload]="true"
        (uploadHandler)="onSelectFileForImport($event)"
        [chooseLabel]="'file-explorer.file-explorer.btn-add-files' | translate"
        multiple="true"
        [title]="'file-explorer.file-explorer.btn-add-files' | translate"
      ></p-fileUpload>

      <!-- import -->
      <p-button
        icon="fa fa-check"
        class="flex-auto"
        (onClick)="onImportSelectedFiles()"
        label="{{ 'file-explorer.file-explorer.btn-upload-file-label' | translate }}"
        title="{{ 'file-explorer.file-explorer.btn-upload-file-label' | translate }}"
        [disabled]="selectedFileMetasImport?.length == 0"
      >
      </p-button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="showErrorDialog" [modal]="true" (onHide)="closeErrorDialog()">
  <ng-template pTemplate="header">
    <span class="p-dialog-title">{{ "file-explorer.file-explorer.header-error-dialog" | translate }}</span>
  </ng-template>
  <p-panel [header]="error?.message">
    <ul>
      <li *ngFor="let cause of error?.causes">{{ cause }}</li>
    </ul>

    <div *ngIf="error?.traceID">TraceID: {{ error?.traceID }}</div>
  </p-panel>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (onClick)="closeErrorDialog()" label="Ok"></p-button>
  </ng-template>
</p-dialog>
