<br />
<p-contextMenu #cm [model]="items" appendTo="body" (onShow)="selectedTpl(selectedTestStepTpl)"></p-contextMenu>

<p-table
  [(contextMenuSelection)]="selectedTestStepTpl"
  [contextMenu]="cm"
  selectionMode="single"
  [(selection)]="selectedTestStepTpl"
  editMode="row"
  (onRowSelect)="onRowSelect($event)"
  dataKey="id"
  [value]="testStepTpls"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <p-checkbox
        trueValue="true"
        falseValue="false"
        [label]="'administration.templateManager.showArchived' | translate"
        [binary]="true"
        (onChange)="showArchived($event)"
      ></p-checkbox>
      <p-button
        icon="pi pi-plus"
        [label]="'administration.testStepTpl.createTestStep' | translate"
        (onClick)="showCreateNewTeststepTpl()"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "administration.testStepTpl.name" | translate }}</th>
      <th>{{ "administration.testStepTpl.version" | translate }}</th>
      <th>{{ "administration.testStepTpl.validFlag" | translate }}</th>
      <th>{{ "administration.testStepTpl.description" | translate }}</th>
      <th>{{ "administration.testStepTpl.dateCreated" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-testStepTpl let-rowIndex="rowIndex" let-editing="editing" let-ri="rowIndex">
    <tr
      [class.d-none]="testStepTpl.validFlag === 'ARCHIVED' && !showArchivedTpls"
      [pRowToggler]="testStepTpl"
      [pSelectableRow]="testStepTpl"
      [pSelectableRowIndex]="rowIndex"
      [pContextMenuRow]="testStepTpl"
      [pEditableRow]="testStepTpl"
    >
      <td *ngIf="testStepTpl.validFlag === 'EDITABLE'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input class="form-control" pInputText type="text" [(ngModel)]="testStepTpl.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ testStepTpl.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td *ngIf="testStepTpl.validFlag !== 'EDITABLE'">
        {{ testStepTpl.name }}
      </td>
      <td>{{ testStepTpl.version }}</td>
      <td>{{ testStepTpl.validFlag }}</td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input class="form-control" pInputText type="text" [(ngModel)]="testStepTpl.description" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ testStepTpl.description }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>{{ testStepTpl.dateCreated }}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [header]="'administration.testStepTpl.createTestStep' | translate" [(visible)]="showCreateDialog" [style]="{ width: '20vw' }">
  <label class="mb-3">{{ "administration.testStepTpl.name" | translate }} </label>
  <input pInputText type="text" class="form-control" [(ngModel)]="newTestSteplTplName" />
  <p-button
    class="float-right mt-3"
    [label]="'administration.testStepTpl.create' | translate"
    (onClick)="createNewTeststepTpl()"
  ></p-button>
</p-dialog>

<p-dialog header="Delete" [(visible)]="showDeleteDialog" [style]="{ width: '20vw' }">
  <label class="mb-3">{{ "administration.testStepTpl.deleteDialog" | translate }}</label>
  <p-button
    class="float-right mt-3"
    [label]="'administration.testStepTpl.cancel' | translate"
    (onClick)="showDeleteDialog = false"
  ></p-button>

  <p-button
    class="float-right mr-2 mt-3"
    [label]="'administration.testStepTpl.delete' | translate"
    (onClick)="deleteTestStepTpl()"
  ></p-button>
</p-dialog>

<p-dialog [header]="'administration.catalog.editTranslations' | translate" [(visible)]="showTranslations" [style]="{ width: '50vw' }">
  <p-table [value]="[selectedTestStepTpl]">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "administration.catalog.name" | translate }}</th>
        <th *ngFor="let l of translations?.languages"><img class="mx-1" [src]="'assets/famfamfam_icons/' + l + '.png'" />{{ l }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-testStepTpl>
      <tr style="border-bottom: 2px solid black">
        <td class="vertical-align-middle">{{ testStepTpl?.name }}</td>
        <td *ngFor="let l of translations?.languages; let langIndex = index">
          <input class="w-full" type="text" pInputText [(ngModel)]="translations?.nameTranslations[langIndex]" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-footer>
    <p-button [label]="'administration.catalog.btn-save' | translate" (click)="saveTranslations()"> </p-button>
    <p-button [label]="'administration.catalog.btn-cancel' | translate" (click)="closeTranslationsDialog()"> </p-button>
  </p-footer>
</p-dialog>
