<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<p-button icon="pi pi-share-alt" (click)="persistState(); op.toggle($event)"></p-button>
<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="mb-2">Shareable link:</div>
    <div>
      <input type="text" pInputText [ngModel]="link" readonly="readonly" (click)="userinput.select()" #userinput />
      <p-button
        icon="pi pi-copy"
        (click)="copyInputMessage(userinput)"
        value="click to copy"
        title="Copy link"
        styleClass="ml-1 vertical-align-baseline"
      ></p-button>
    </div>
  </ng-template>
</p-overlayPanel>
