<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div class="axis-selector">
  <div class="field">
    <label for="xaxis">{{ "basket.mdm-basket.x-axis" | translate }}</label>
    <p-dropdown
      styleClass="auto-width-dropdown"
      inputId="xaxis"
      [options]="columns"
      [(ngModel)]="xColumn"
      placeholder="{{ 'basket.mdm-basket.select-x-axis' | translate }}"
      [showClear]="true"
      (onChange)="refreshPlot()"
    >
      <ng-template let-column pTemplate="selectedItem">
        {{ column.type | mdmTranslate : undefined : column.attribute | async }}
        ({{ column.type | mdmTranslate | async }})
      </ng-template>
      <ng-template let-column pTemplate="item">
        {{ column.type | mdmTranslate : undefined : column.attribute | async }}
        ({{ column.type | mdmTranslate | async }})
      </ng-template>
    </p-dropdown>
  </div>
  <div class="field">
    <label for="yaxis">{{ "basket.mdm-basket.y-axis" | translate }}</label>
    <p-multiSelect
      [options]="columns"
      [(ngModel)]="yColumns"
      [showClear]="true"
      (onPanelHide)="refreshPlot()"
      (onClear)="clearYColumns()"
      [filter]="false"
      [showToggleAll]="false"
      [showHeader]="false"
      defaultLabel=" {{ 'basket.mdm-basket.select-y-axis' | translate }}"
    >
      <ng-template pTemplate="selectedItems">
        <ng-container *ngIf="!yColumns || yColumns.length === 0">{{ "basket.mdm-basket.select-y-axis" | translate }}</ng-container>

        <ng-container *ngIf="yColumns && yColumns.length > 2; else content">
          {{
            "basket.mdm-basket.selected-items-count"
              | translate
                : {
                    count: yColumns.length
                  }
          }}
        </ng-container>
        <ng-template #content>
          <ng-container *ngFor="let column of yColumns; let i = index">
            <ng-container *ngIf="i !== 0">,</ng-container>
            {{ column.type | mdmTranslate : undefined : column.attribute | async }}
            ({{ column.type | mdmTranslate | async }})
          </ng-container></ng-template
        >
      </ng-template>
      <ng-template let-column pTemplate="item">
        {{ column.type | mdmTranslate : undefined : column.attribute | async }}
        ({{ column.type | mdmTranslate | async }})
      </ng-template>
    </p-multiSelect>
  </div>
</div>

<p-chart #chart type="line" [data]="data" [options]="options" [responsive]="true" (contextmenu)="onRightClick($event)"></p-chart>
<p-contextMenu #contextMenu [model]="contextMenuItems" appendTo="body"></p-contextMenu>
