/********************************************************************************
 * Copyright (c) 2015-2022 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/
.user-channel-filter-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: hidden;

}

.system-selector .text {
  display:inline;
  padding-right: 0.5em;
}

.ml20 {
  margin-left: 20px;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

label.ptop {
  padding-top: .5em;
}

.col-form-label {
  min-width: calc(18.667% - 38px);
}

.btn-group>.dropdown-toggle,
.btn-group>.btn {
  width: 300px;
  text-align: left;
}

.btn-group>.dropdown-toggle .pre-caret,
.btn-group>.btn .pre-caret {
  display: inline-block;
  text-overflow: ellipsis;
  width: calc(100% - 14px)
}

.commands {
  min-height: 30px;
  display: block;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  padding-right: .837em;
}
.commands button {
  margin-left: 10px;
}

.channel-filter-table {
  margin-top: 10px;
}

.channel-filter-table .button-col{
  width:60px;
}

.channel-filter-table .dense{width:14%;}
.channel-filter-table .medium{width:19%;}
.channel-filter-table .wide{width:calc(87% - 60px);}
.channel-filter-table td.dense,
.channel-filter-table td.medium,
.channel-filter-table td.wide{overflow: hidden; white-space: nowrap; min-width: max-content;}
.channel-filter-table th.dense,
.channel-filter-table th.medium

.channel-filter-table td.vmid{vertical-align: middle;}

.remove {
  color: black;
  cursor: pointer;
  float: right;
}

.system-selector .text {
  display:inline;
  padding-right: 0.5em;
}
