<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div class="user-channel-filter-wrapper">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <label
        for="userChnlFltrPrefButton"
        class="col-form-label"
        [title]="'user-prefs.channel-filter-prefs.lbl-channel-filter-list' | translate"
        >{{ "user-prefs.channel-filter-prefs.lbl-channel-filter-list" | translate }}</label
      >
      <p-dropdown
        id="userChnlFltrPrefButton"
        [options]="groupedUserChnlFltrPrefs"
        [group]="true"
        (onChange)="onClickChnlFltrPreference($event)"
      ></p-dropdown>

      <p-button
        icon="pi pi-file"
        styleClass="ml-1"
        (onClick)="onNewChnlFltrPref($event)"
        [title]="'user-prefs.channel-filter-prefs.tooltip-create-new-channel-filter-pref' | translate"
      ></p-button>
      <p-button
        icon="pi pi-save"
        styleClass="ml-1"
        (onClick)="onShowChnlFltrPrefSaveModal($event)"
        [title]="'user-prefs.channel-filter-prefs.tooltip-save-channel-filter-pref' | translate"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        styleClass="ml-1 mr-1"
        (onClick)="onDeleteChnlFltrPref($event)"
        [title]="'user-prefs.channel-filter-prefs.tooltip-delete-channel-filter-pref' | translate"
      ></p-button>

      <mdm-sharelink [customStateCallback]="getStateForTakeOver.bind(this)"></mdm-sharelink>

      <p-checkbox
        *ngIf="currentChnlFltrPref"
        id="channel_filter_pref_default"
        [(ngModel)]="currentChnlFltrPref.isDefault"
        [binary]="true"
        class="ml-2"
        [style]="{ 'vertical-align': 'text-bottom' }"
        (onChange)="onChnlFltrPreferenceDefaultChange($event)"
        (click)="$event.stopPropagation()"
      ></p-checkbox>
      <label for="channel_filter_pref_default" class="ml-1">{{ "user-prefs.channel-filter-prefs.lbl-default" | translate }}</label>
    </div>
  </p-toolbar>

  <div style="height: 100%; overflow: hidden">
    <p-table
      class="channel-filter-table"
      [value]="currentChnlFltrPref.channelFilters"
      *ngIf="currentChnlFltrPref && currentChnlFltrPref.channelFilters"
      styleClass="table-hover p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="dense">{{ "user-prefs.channel-filter-prefs.lbl-source" | translate }}</th>
          <th class="wide">{{ "user-prefs.channel-filter-prefs.lbl-channel-name" | translate }}</th>
          <th class="button-col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-channelFilter let-rowIndex="rowIndex">
        <tr>
          <td style="vertical-align: middle">
            <span>{{ getSourceDisplName() }}</span>
          </td>

          <td pEditableColumn class="vmid">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'user-prefs.channel-filter-prefs.tooltip-input' | translate"
                  [(ngModel)]="channelFilter.value"
                  [pTooltip]="'user-prefs.channel-filter-prefs.tooltip-input-long' | translate"
                  tooltipPosition="bottom"
                  showDelay="1000"
                  tooltipStyleClass="tooltip"
                  [ngStyle]="{ width: '100%' }"
                />
              </ng-template>
              <ng-template pTemplate="output">
                <span>{{ channelFilter.value }}</span>
              </ng-template>
            </p-cellEditor>
          </td>

          <td class="vmid">
            <p-button id="remove" icon="pi pi-times" (onClick)="removeChannelFilter(rowIndex)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="currentChnlFltrPref.channelFilters" class="commands">
    <p-button icon="pi pi-plus" [label]="'user-prefs.channel-filter-prefs.btn-add' | translate" (onClick)="addChannelFilter()"></p-button>
  </div>
</div>

<p-dialog
  [header]="'user-prefs.channel-filter-prefs.delete-title' | translate"
  [(visible)]="isShowDialogChnlFltrPrefDelete"
  [modal]="true"
  (onHide)="cancelRemoveChnlFltrPref()"
  (keyup.enter)="cancelRemoveChnlFltrPref()"
>
  <div class="ui-g ui-fluid" *ngIf="tmpChnlFltrPrefDelete">
    <div class="ui-g-12">
      <div class="text">
        <span
          >{{ "user-prefs.channel-filter-prefs.delete-text" | translate }}&nbsp; <br /><strong *ngIf="tmpChnlFltrPrefDelete">{{
            tmpChnlFltrPrefDelete.displName
          }}</strong>
        </span>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix text-left">
      <button type="button" class="btn btn-mdm btn-default" (click)="cancelRemoveChnlFltrPref()">
        <span class="pi pi-times"></span> {{ "user-prefs.channel-filter-prefs.btn-cancel" | translate }}
      </button>
      <button type="button" class="btn btn-mdm pull-right" (click)="confirmedRemoveChnlFltrPref()">
        <span class="pi pi-check"></span> {{ "user-prefs.channel-filter-prefs.btn-delete" | translate }}
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  showEffect="fade"
  [modal]="true"
  [contentStyle]="{ width: '44em', 'min-height': '30em' }"
  [header]="'user-prefs.channel-filter-prefs.new_dialog-title' | translate"
  [(visible)]="isShowDialogChnlFltrPrefEdit"
  (onHide)="hideDialogChnlFltrPref()"
>
  <div class="ui-g ui-fluid" *ngIf="tmpChnlFltrPrefEdit">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="channel_filter_pref_source" class="ptop">{{ "user-prefs.channel-filter-prefs.lbl-source" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown
          *ngIf="tmpChnlFltrPrefEdit"
          id="channel_filter_pref_source"
          required
          scrollHeight="9em"
          [options]="getSourceSelectList()"
          [(ngModel)]="tmpChnlFltrPrefEdit.source"
          [placeholder]="'user-prefs.channel-filter-prefs.dropdown-please-select' | translate"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="channel_filter_pref_name" class="ptop">{{ "user-prefs.channel-filter-prefs.lbl-displ-name" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input
          id="channel_filter_pref_name"
          required
          pInputText
          class="form-control"
          [(ngModel)]="tmpChnlFltrPrefEdit.displName"
          (keyup)="onKeyUpDialogChnlFltrPref($event)"
        />
        <div *ngIf="chnlFltrPrefAlreadyExists" class="alert alert-danger">
          {{ chnlFltrPrefAlreadyExists }}
        </div>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        *ngIf="!isSaveMode"
        type="button"
        pButton
        icon="pi pi-check"
        (click)="confirmDialogChnlFltrPref()"
        [label]="'user-prefs.channel-filter-prefs.btn-ok' | translate"
        [disabled]="chnlFltrPrefAlreadyExists || !tmpChnlFltrPrefEdit || tmpChnlFltrPrefEdit.displName.trim().length === 0"
      ></button>
      <button
        *ngIf="isSaveMode"
        type="button"
        pButton
        icon="pi pi-save"
        (click)="saveDialogChnlFltrPref()"
        [label]="'user-prefs.channel-filter-prefs.btn-save' | translate"
        [disabled]="chnlFltrPrefAlreadyExists || !tmpChnlFltrPrefEdit || tmpChnlFltrPrefEdit.displName.trim().length === 0"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times-circle"
        (click)="cancelDialogChnlFltrPref()"
        [label]="'user-prefs.channel-filter-prefs.btn-cancel' | translate"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog #cd key="chnlFltrPrefConfirmation" icon="fa fa-exclamation-triangle" appendTo="body">
  <p-footer>
    <button type="button" (click)="cd.accept()" class="btn btn-mdm">
      <span class="pi pi-check"></span>
    </button>
    <button type="button" (click)="cd.reject()" class="btn btn-mdm">
      <span class="pi pi-times"></span>
    </button>
  </p-footer>
</p-confirmDialog>

<p-dialog
  [header]="'user-prefs.channel-filter-prefs.title-takeover' | translate"
  [(visible)]="takeOverDialogVisible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <span *ngIf="!takeOverNameExists">{{ "user-prefs.channel-filter-prefs.msg-takeover" | translate }}</span>
  <span *ngIf="takeOverNameExists">{{ "user-prefs.channel-filter-prefs.msg-takeover-name-exists" | translate }}</span>

  <div class="mt-2">
    <input type="text" pInputText [(ngModel)]="takeOverChannelFilterPreference.displName" />
  </div>

  <ng-template pTemplate="footer">
    <p-button (click)="takeOver()" [label]="'user-prefs.channel-filter-prefs.btn-save' | translate"></p-button>
    <p-button (click)="takeOverDialogVisible = false" [label]="'user-prefs.channel-filter-prefs.btn-cancel' | translate"></p-button>
  </ng-template>
</p-dialog>
