<!--******************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 *******************************************************************************-->
<div
  (mouseenter)="mouseHovering()"
  (mouseleave)="mouseLeaving()"
  style="display: grid; grid-template-columns: auto 1fr auto; column-gap: 0.25rem"
>
  <div [ngSwitch]="contextAttribute?.attribute?.dataType">
    <mdm-file-attribute-viewer *ngSwitchCase="'FILE_LINK'" [contextAttribute]="contextAttribute"></mdm-file-attribute-viewer>
    <mdm-file-attribute-viewer *ngSwitchCase="'FILE_LINK_SEQUENCE'" [contextAttribute]="contextAttribute"></mdm-file-attribute-viewer>
    <mdm-file-attribute-viewer *ngSwitchCase="'FILE_RELATION'" [contextAttribute]="contextAttribute"></mdm-file-attribute-viewer>
    <div *ngSwitchDefault>
      {{ contextAttribute?.attribute | attributeValue : contextAttribute?.contextGroup : isShowAll : elementsInLimitedView }}
    </div>
  </div>
  <span *ngIf="contextAttribute?.attribute?.unit?.length > 0" class="inlinecontent">
    {{ contextAttribute?.attribute.unit }}
  </span>
  <div style="display: flex; justify-content: end">
    <mdm-extend-cell-button
      [checked]="!isShowAll"
      (checkedChanged)="onShowAllChanged($event)"
      *ngIf="
        isHovering &&
        contextAttribute?.attribute?.dataType.includes('SEQUENCE') &&
        contextAttribute?.attribute.value[contextAttribute?.contextGroup].length > elementsInLimitedView
      "
    ></mdm-extend-cell-button>
  </div>
</div>
