<!-- ********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->
<div style="display: grid; overflow: hidden; grid-template-rows: auto 1fr auto; height: 100%">
  <p-toolbar>
    <label class="col-form-label" [title]="'user-prefs.apitoken.token_header' | translate">{{
      "user-prefs.apitoken.token_header" | translate
    }}</label>
  </p-toolbar>

  <div style="height: 100%; overflow: hidden">
    <p-table
      [columns]="tableCols"
      [value]="tokenList"
      selectionMode="single"
      styleClass="table-hover p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{ col.header | translate }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th style="width: 8em"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td style="text-align: center">
            <button pButton type="button" icon="pi pi-trash" class="ui-button-info" (click)="onRowDelete(rowData)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div style="text-align: right; margin: 10px 0">
    <p-button icon="pi pi-plus" [label]="'user-prefs.apitoken.new_token' | translate" (onClick)="showDialogToAdd()"></p-button>
  </div>
</div>

<p-confirmDialog icon="fa fa-exclamation-triangle "></p-confirmDialog>

<p-dialog header="Token name" [(visible)]="displayCreateDialog" showEffect="fade" [modal]="true" [style]="{ width: '300px' }">
  <div class="ui-g ui-fluid" *ngIf="tokenToBeCreated">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name">{{ "user-prefs.apitoken.name" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name" [(ngModel)]="tokenToBeCreated.name" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-check" (click)="save()" label="Generate token"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  header="Token {{ createdToken?.name }}"
  [(visible)]="displayTokenCreatedDialog"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '50%' }"
>
  <div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="token">{{ "user-prefs.apitoken.token" | translate }}</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="token" [ngModel]="createdToken?.token" style="width: 100%" />
      </div>
    </div>
    <p style="width: 100%">{{ "user-prefs.apitoken.hint" | translate }}</p>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="pi pi-times-circle" (click)="closeTokenDialog()" label="Close"></button>
    </div>
  </p-footer>
</p-dialog>
