<div class="content-grid">
  <ng-container *ngFor="let col of cols">
    <span>
      {{ col.header | translate }}
    </span>
    <ng-container [ngSwitch]="col.type">
      <textarea
        *ngSwitchCase="'html'"
        [(ngModel)]="announcementConfig.message[col.field]"
        [rows]="20"
        [cols]="50"
        pInputTextarea
        [autoResize]="true"
        [placeholder]="col.header | translate"
        [required]="true"
      ></textarea>
      <mdm-p-calendar-wrapper
        *ngSwitchCase="'dateTime'"
        [hourFormat]="hourFormat"
        styleClass="announcementeditor"
        [showTime]="true"
        [showSeconds]="true"
        [showIcon]="true"
        [showOnFocus]="false"
        [readonlyInput]="false"
        [(dateTime)]="announcementConfig.message[col.field]"
      ></mdm-p-calendar-wrapper>
      <input
        pInputText
        *ngSwitchDefault
        [(ngModel)]="announcementConfig.message[col.field]"
        [placeholder]="col.header | translate"
        [required]="true"
      />
    </ng-container>
  </ng-container>
</div>
<div class="footer-grid">
  <p-button icon="pi pi-times" [label]="'administration.announcements.config-cancel' | translate" (onClick)="onCancel()"> </p-button>
  <p-button icon="pi pi-check" [label]="'administration.announcements.config-apply' | translate" (onClick)="onApply()"> </p-button>
</div>
