<div class="announcement-wrapper px-3" *ngIf="announcementConfigs?.length > 0">
  <div class="announcement-messages-wrapper">
    <p-messages severity="info" class="announcement-messages-wrapper">
      <ng-template pTemplate>
        <ng-container *ngFor="let config of announcementConfigs">
          <div class="announcement-messages-header">
            <i
              class="pi pi-info-circle"
              (click)="displayAnnouncementMessageDialog = true; selectedAnnouncementConfig = config"
              style="cursor: pointer"
            ></i>
            <div
              class="ml-2"
              (click)="displayAnnouncementMessageDialog = true; selectedAnnouncementConfig = config"
              style="cursor: pointer"
            >
              {{ config.message.header }}
            </div>
            <div style="text-align-last: end">
              <i class="pi pi-times" (click)="onRemoveAnnouncement(config)" style="cursor: pointer"></i>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </p-messages>
  </div>
</div>

<p-dialog
  [header]="selectedAnnouncementConfig?.message?.header"
  [(visible)]="displayAnnouncementMessageDialog"
  [style]="{ width: '75vw' }"
  [draggable]="false"
  [resizable]="false"
  [modal]="true"
  (onHide)="closeAnnouncement()"
>
  <div [innerHTML]="selectedAnnouncementConfig?.message?.body"></div>
  <hr />
  <div>
    <p-checkbox [(ngModel)]="dontRemind" [binary]="true" (onChange)="onDontRemind($event)" inputId="dontRemind"></p-checkbox>
    <label for="dontRemind">{{ "app.announcements.dont-remind-question" | translate }}</label>
  </div>
</p-dialog>

<p-confirmDialog
  key="announcements"
  [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  [acceptLabel]="'app.announcements.dont-remind-yes' | translate"
  [rejectLabel]="'app.announcements.dont-remind-no' | translate"
  acceptButtonStyleClass="p-button-danger"
  acceptIcon="fa fa-trash"
  [header]="'app.announcements.dont-remind-title' | translate"
  [message]="'app.announcements.dont-remind-text' | translate"
></p-confirmDialog>
