<!-- ********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->

<div class="mdm-extsystem-viewer-container">
  <div *ngIf="selectedEnvironment" class="commands">
    <p-button icon="pi pi-plus" (onClick)="addExtSystem()" [label]="'administration.extsystem.btn-add' | translate"></p-button>
  </div>

  <p-table
    class="ext-system-table"
    [value]="getExternalSystems()"
    *ngIf="selectedEnvironment && extSystems"
    styleClass="table-hover p-datatable-gridlines"
    (onRowSelect)="onExtSystemRowSelect($event)"
    (onRowUnselect)="onExtSystemRowUnselect($event)"
    selectionMode="single"
    [(selection)]="selectedExtSystem"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "administration.extsystem.name" | translate }}</th>
        <th>{{ "administration.extsystem.description" | translate }}</th>
        <th class="button-col"></th>
        <th class="button-col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>
          <span>{{ rowData.name }}</span>
        </td>
        <td>
          <span>{{ getAttributeValueFromNode(rowData, "Description") }}</span>
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            (onClick)="editExtSystem(rowData)"
            [title]="'administration.extsystem.btn-edit' | translate"
          ></p-button>
        </td>
        <td>
          <p-button
            icon="pi pi-trash"
            (onClick)="removeExtSystem(rowData)"
            [title]="'administration.extsystem.btn-del' | translate"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [header]="'administration.extsystem.dialog-ext-system-delete-title' | translate"
    [(visible)]="dialogExtSystemDelete"
    [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  >
    <div class="text">
      <span>{{ "administration.extsystem.dialog-ext-system-delete-text" | translate }}</span>
    </div>
    <p-footer>
      <p-button
        icon="pi pi-times"
        (onClick)="cancelRemoveExtSystem()"
        [label]="'administration.extsystem.btn-cancel' | translate"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        styleClass="p-button-danger"
        (onClick)="confirmRemoveExtSystem()"
        [label]="'administration.extsystem.btn-del' | translate"
      ></p-button>
    </p-footer>
  </p-dialog>

  <p-dialog [header]="'administration.extsystem.dialog-ext-system-title' | translate" [(visible)]="dialogExtSystemCreate">
    <div class="list-group gap-3" *ngIf="tmpExtSystemCreate">
      <div class="flex flex-column gap-2">
        <label for="unit_name">{{ "administration.extsystem.name" | translate }}</label>
        <input required pInputText type="text" [(ngModel)]="tmpExtSystemCreate.name" />
      </div>
    </div>
    <p-footer>
      <p-button icon="pi pi-plus" (onClick)="saveDialogExtSystem()" [label]="'administration.extsystem.btn-save' | translate"></p-button>
      <p-button
        icon="pi pi-times"
        (onClick)="cancelDialogExtSystem()"
        [label]="'administration.extsystem.btn-cancel' | translate"
      ></p-button>
    </p-footer>
  </p-dialog>

  <div *ngIf="selectedEnvironment" class="commands">
    <p-button icon="pi pi-plus" (onClick)="addExtSystem()" [label]="'administration.extsystem.btn-add' | translate"></p-button>
  </div>

  <div class="custom-split-pane" *ngIf="selectedExtSystem">
    <div class="custom-split-pane-content custom-split-pane-left">
      <div class="font-bold my-2">{{ "administration.extsystem.ext-system-attributes" | translate }}</div>
      <p-table
        [value]="getExternalSystemAttributes()"
        selectionMode="single"
        [(selection)]="selectedExtSystemAttr"
        styleClass="table-hover p-datatable-gridlines"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>{{ "administration.extsystem.name" | translate }}</th>
            <th>{{ "administration.extsystem.description" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="rowData">
            <td>{{ rowData.name }}</td>
            <td>{{ getAttributeValueFromNode(rowData, "Description") }}</td>
          </tr>
        </ng-template>
      </p-table>
      <div *ngIf="loadingExtSystemAttr">{{ "administration.extsystem.loading-attributes" | translate }}</div>
    </div>
    <div class="custom-split-pane-content custom-split-pane-right">
      <div>{{ "administration.extsystem.mdm-attributes" | translate }}</div>
      <p-table *ngIf="selectedExtSystemAttr" [value]="getMDMAttributes()" styleClass="table-hover p-datatable-gridlines">
        <ng-template pTemplate="header">
          <tr>
            <th>{{ "administration.extsystem.component-type" | translate }}</th>
            <th>{{ "administration.extsystem.component-name" | translate }}</th>
            <th>{{ "administration.extsystem.attribute-name" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr>
            <td>{{ getAttributeValueFromNode(rowData, "CompType") }}</td>
            <td>{{ getAttributeValueFromNode(rowData, "CompName") }}</td>
            <td>{{ getAttributeValueFromNode(rowData, "AttrName") }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
