<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<style>
  :host ::ng-deep .p-tree .p-tree-container {
    margin: 0 0 4px 0 !important;
    width: 100%;
    overflow: visible;
  }

  :host ::ng-deep .p-tree .p-treenode .p-treenode-content .p-treenode-label {
    padding-right: 0.75em;
  }
</style>

<p-dialog
  [modal]="true"
  [header]="'tableview.editview.title-view-editor' | translate"
  [(visible)]="dialogVisible"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '60vw' }"
>
  <div class="flex gap-2">
    <div class="flex flex-column gap-2">
      <p-autoComplete
        #autocomplete
        [(ngModel)]="selectedSuggestion"
        [suggestions]="filteredSuggestions"
        field="label"
        (completeMethod)="search($event)"
        (onSelect)="onSelect($event)"
        [title]="'tableview.editview.tooltip-no-wildcards' | translate"
        [placeholder]="'tableview.editview.enter-search-text' | translate"
        styleClass="mb-2"
        appendTo="body"
      >
      </p-autoComplete>
      <mdm-searchattribute-tree
        [searchAttributes]="searchAttributes"
        [environments]="environments"
        style="max-height: 100%"
      ></mdm-searchattribute-tree>
    </div>
    <div>
      <label for="search-source" class="col-form-label" style="padding: 8px 0 15px 0">{{
        "tableview.editview.lbl-selected-attributes" | translate
      }}</label>
      <div *ngIf="currentView.columns.length === 0" style="text-align: center">
        {{ "tableview.editview.no-attributes-selected" | translate }}
      </div>
      <table class="table table-bordered" style="padding: 0; overflow-y: auto; table-layout: fixed">
        <tr *ngFor="let col of currentView.columns">
          <td style="width: 50%">
            {{ col.type | mdmTranslate | async }}
          </td>
          <td style="width: 50%">
            {{ col.type | mdmTranslate : undefined : col.name | async }}
          </td>
          <td style="width: 42px; text-align: center; vertical-align: middle">
            <span
              class="fa fa-chevron-up"
              [ngStyle]="{ visibility: isFirst(col) ? 'hidden' : 'visible' }"
              style="cursor: pointer; margin-bottom: 0"
              (click)="moveUp(col)"
            ></span>
          </td>
          <td style="width: 42px; text-align: center; vertical-align: middle">
            <span
              class="fa fa-chevron-down"
              [ngStyle]="{ visibility: isLast(col) ? 'hidden' : 'visible' }"
              style="cursor: pointer"
              (click)="moveDown(col)"
            ></span>
          </td>
          <td style="width: 42px; text-align: center; vertical-align: middle">
            <span
              class="fa"
              [ngClass]="{ 'glyphicon-sort': isNone(col), 'fa-sort-alpha-desc': isDesc(col), 'fa-sort-alpha-asc': isAsc(col) }"
              style="cursor: pointer"
              (click)="toggleSort(col)"
            ></span>
          </td>
          <td style="width: 42px; text-align: center; vertical-align: middle">
            <span class="pi pi-times" [ngClass]="" style="cursor: pointer" (click)="remove(col)"></span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <p-footer>
    <p-button icon="pi pi-check" [label]="'tableview.editview.btn-apply-changes' | translate" (onClick)="applyChanges()"></p-button>
  </p-footer>
</p-dialog>
