<!--******************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 *******************************************************************************-->

<table class="table table-hover" style="margin-bottom: 0">
  <thead>
    <tr>
      <th>{{ "details.mdm-detail-panel.tblhdr-attribute" | translate }}</th>
      <th>{{ "details.mdm-detail-panel.tblhdr-value" | translate }}</th>
      <th>{{ "details.mdm-detail-panel.tblhdr-unit" | translate }}</th>
    </tr>
  </thead>
  <tbody *ngIf="node">
    <tr *ngFor="let attr of displayAttributes">
      <td>{{ node | mimeType | mdmTranslate : node?.sourceName : attr?.name | async }}</td>
      <!-- <td>{{attr.name}}</td> -->
      <td>{{ attr | attributeValue }}</td>
      <td>{{ attr.unit }}</td>
    </tr>
  </tbody>
</table>
