<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div class="navigator-wrapper">
  <p-toolbar styleClass="mb-1">
    <div class="p-toolbar-group-left">{{ "navigator-view.mdm-navigator-view.navigator" | translate }}</div>
    <div class="p-toolbar-group-right">
      <p-dropdown
        [options]="nodeProviders"
        [(ngModel)]="nodeprovider"
        (onChange)="activateNodeProvider()"
        optionLabel="name"
        dataKey="id"
        appendTo="body"
        [title]="'navigator-view.mdm-navigator-view.select-node-provider' | translate"
      >
      </p-dropdown>
    </div>
  </p-toolbar>

  <div style="height: 100%; overflow: hidden">
    <p-tree
      #navTree
      class="mdmtree"
      [value]="nodes"
      selectionMode="multiple"
      [(selection)]="selectedNodes"
      (onNodeExpand)="onNodeExpand($event)"
      (onNodeCollapse)="onNodeCollapse($event)"
      (onNodeSelect)="onNodeSelect($event)"
      (onNodeUnselect)="onNodeUnselect()"
      (selectionChange)="selectionChanged($event)"
      [contextMenu]="cm"
      [style]="{ height: '100%', overflow: 'hidden' }"
    >
      <ng-template let-node pTemplate="default">
        <span [title]="node.label" [id]="getId(node)">{{ node.label }}</span>
      </ng-template>
    </p-tree>
  </div>
</div>

<p-contextMenu #cm [model]="contextMenuItems | async" appendTo="body"></p-contextMenu>
<mdm-file-import-dialog [(showDialog)]="displayImportDialog" [selectedDatasource]="importTargetSource"></mdm-file-import-dialog>
