<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<p-dialog
  [header]="'administration.edit-preference.title-preferences-editor' | translate"
  [(visible)]="isDialogShown"
  [style]="{ width: '50vw' }"
>
  <form [formGroup]="preferenceForm" novalidate>
    <ul class="list-group gap-3">
      <li class="flex flex-column gap-2">
        <label>{{ "administration.edit-preference.lbl-key" | translate }}: </label>
        <input type="text" class="form-control" formControlName="key" [readonly]="!isKeyEmpty" />
      </li>
      <li class="flex flex-column gap-2">
        <label>{{ "administration.edit-preference.lbl-scope" | translate }}: </label>
        <input type="text" class="form-control" formControlName="scope" [readonly]="true" />
      </li>
      <li *ngIf="showSource" class="flex flex-column gap-2">
        <label>{{ "administration.edit-preference.lbl-source" | translate }}: </label>
        <select class="form-control" formControlName="source">
          <option *ngFor="let env of envs">{{ env.sourceName }}</option>
        </select>
      </li>
      <li *ngIf="showUser" class="flex flex-column gap-2">
        <label i18n="administration_edit-preference User|User">User: </label>
        <input type="text" class="form-control" formControlName="user" [readonly]="true" placeholder="auto-generated" />
      </li>
      <li class="flex flex-column gap-2">
        <label for="comment">{{ "administration.edit-preference.lbl-value" | translate }}:</label>
        <textarea class="form-control" formControlName="value" rows="5" id="value"></textarea>
      </li>
    </ul>
  </form>
  <p-footer>
    <p-button icon="pi pi-times" (onClick)="closeDialog()" [label]="'administration.edit-preference.btn-cancel' | translate"></p-button>
    <p-button
      icon="pi pi-download"
      (onClick)="onSave()"
      [disabled]="!preferenceForm.valid"
      [label]="'administration.edit-preference.btn-save' | translate"
    ></p-button>
  </p-footer>
</p-dialog>
