/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/

ul {
  list-style-type: none;
}
textarea {
    resize: vertical;
}

.input-group-addon {
    min-width: 100px;
    text-align: left;
    font-weight: 600;
}

input[readonly] {
     cursor: default;
}
