<!-- ********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->

<p-table
  [value]="preferences"
  stateStorage="session"
  stateKey="preferece-table"
  styleClass="table-hover p-datatable-gridlines"
  [style.line-height]="1"
  [scrollable]="true"
  scrollHeight="flex"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="key">
        <div class="flex justify-content-between align-items-center">
          Key
          <p-sortIcon field="key"></p-sortIcon>
          <p-columnFilter class="ml-auto" type="text" field="key" display="menu"></p-columnFilter>
        </div>
      </th>
      <th pSortableColumn="value">
        <div class="flex justify-content-between align-items-center">
          Value
          <p-sortIcon field="value"></p-sortIcon>
          <p-columnFilter class="ml-auto" type="text" field="value" display="menu"></p-columnFilter>
        </div>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-preference>
    <tr>
      <td>
        {{ preference.key }}
      </td>
      <td style="word-break: break-all">
        {{ preference.value }}
      </td>
      <td style="white-space: nowrap">
        <p-button
          icon="pi pi-pencil"
          (onClick)="editPreference(preference)"
          [title]="'administration.preference.btn-tooltip-edit-preference' | translate"
        ></p-button>
        <p-button
          icon="pi pi-trash"
          styleClass="ml-1"
          (onClick)="removePreference(preference)"
          [title]="'administration.preference.btn-tooltip-delete-preference' | translate"
        ></p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="3">No data found.</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="caption">
    <div style="width: 100%; text-align: end; padding: 0.25rem 0.5rem">
      <p-button
        icon="pi pi-plus"
        [label]="'administration.preference.btn-add-preference' | translate"
        (onClick)="newPreference()"
      ></p-button>
    </div>
  </ng-template>
</p-table>

<mdm-edit-preference [scope]="scope" (saved)="loadPreferences(scope)"></mdm-edit-preference>

<p-confirmDialog
  [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  [acceptLabel]="'administration.btn-delete' | translate"
  acceptButtonStyleClass="p-button-danger"
  acceptIcon="fa fa-trash"
  [rejectLabel]="'administration.btn-cancel' | translate"
  [header]="'administration.preference.hdr-confirm-delete' | translate"
  [message]="'administration.preference.msg-confirm-delete' | translate"
></p-confirmDialog>
