<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<table class="table table-bordered">
  <tbody>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-test-name" | translate }}:</td>
      <td>{{ release.name }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-error-message" | translate }}:</td>
      <td>{{ release.errorMessage }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-expires-on" | translate }}:</td>
      <td>{{ getDate(release.expire) }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.tlbl-format" | translate }}:</td>
      <td>{{ getFormat(release.format) }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-reason-for-release" | translate }}:</td>
      <td>{{ release.orderMessage }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-reason-for-declining" | translate }}:</td>
      <td>{{ release.rejectMessage }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-requested-by" | translate }}:</td>
      <td>{{ release.sender }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-test-responsible-person" | translate }}:</td>
      <td>{{ release.receiver }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-state" | translate }}:</td>
      <td>{{ getState(release.state) }}</td>
    </tr>
    <tr>
      <td>{{ "filerelease.mdm-filerelease-display.lbl-validity" | translate }}:</td>
      <td>{{ release.validity }} Tage</td>
    </tr>
  </tbody>
</table>
