.modules-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.mdm-modules-tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}