<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div class="modules-wrapper">
  <div style="width: 100%; overflow: hidden">
    <p-tabMenu [model]="links" [scrollable]="true" [activeItem]="links[0]">
      <ng-template pTemplate="item" let-item>
        <span style="white-space: nowrap">
          {{ item.label | translate }}
        </span>
      </ng-template>
    </p-tabMenu>
  </div>

  <div class="tab-content mdm-modules-tab-content">
    <router-outlet></router-outlet>
  </div>
</div>
