<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div class="m-1 flex justify-content-between">
  <div style="line-height: 1">
    <p-selectButton
      styleClass="inline"
      class="mr-1"
      [options]="modes"
      [(ngModel)]="toolbarProperties.displayMode"
      (onChange)="onChangeProperty()"
    ></p-selectButton>

    <!-- ChannelSelection -->
    <p-toggleButton
      [(ngModel)]="toolbarProperties.showSelection"
      onIcon="fa fa-columns"
      offIcon="fa fa-square-o"
      onLabel=""
      offLabel=""
      styleClass="mr-1"
      (onChange)="onChangeProperty()"
      [title]="
        (toolbarProperties.showSelection
          ? 'chartviewer.xy-chart-viewer-toolbar.hide-data-selection-panel'
          : 'chartviewer.xy-chart-viewer-toolbar.show-data-selection-panel'
        ) | translate
      "
    >
    </p-toggleButton>
    <!-- X/Y-mode -->
    <p-toggleButton
      [(ngModel)]="toolbarProperties.xyAxisFilterActive"
      onIcon="fa fa-filter"
      offIcon="fa fa-filter"
      onLabel=""
      offLabel=""
      styleClass="mr-2"
      (onChange)="onChangeProperty()"
      [title]="
        (toolbarProperties.xyAxisFilterActive
          ? 'chartviewer.xy-chart-viewer-toolbar.deactivate-xy-mode'
          : 'chartviewer.xy-chart-viewer-toolbar.activate-xy-mode'
        ) | translate
      "
    >
    </p-toggleButton>
    <!-- Legend -->
    <p-toggleButton
      onIcon="fa fa-map"
      offIcon="fa fa-map-o"
      onLabel=""
      offLabel=""
      styleClass="mr-1"
      [(ngModel)]="toolbarProperties.options.legend.display"
      (onChange)="onChangeProperty()"
      [title]="
        (toolbarProperties?.options?.legend?.display
          ? 'chartviewer.xy-chart-viewer-toolbar.hide-chart-legend'
          : 'chartviewer.xy-chart-viewer-toolbar.show-chart-legend'
        ) | translate
      "
    >
    </p-toggleButton>
    <!-- Linewidth -->
    <p-inputNumber
      [(ngModel)]="toolbarProperties.lineWidth"
      [showButtons]="true"
      [min]="0.25"
      [step]="0.25"
      size="1"
      styleClass="mr-1"
      (onChange)="onChangeProperty()"
      [title]="'chartviewer.xy-chart-viewer-toolbar.line-width' | translate"
    >
    </p-inputNumber>
    <!-- draw lines -->
    <p-toggleButton
      onIcon="fa fa-line-chart"
      offIcon="fa fa-line-chart"
      onLabel=""
      offLabel=""
      styleClass="mr-1"
      [(ngModel)]="toolbarProperties.showLines"
      (onChange)="onToggleShowLines()"
      [title]="
        (toolbarProperties.showLines ? 'chartviewer.xy-chart-viewer-toolbar.hide-lines' : 'chartviewer.xy-chart-viewer-toolbar.show-lines')
          | translate
      "
    >
    </p-toggleButton>
    <!-- fill area -->
    <p-toggleButton
      onIcon="fa fa-area-chart"
      offIcon="fa fa-area-chart"
      onLabel=""
      offLabel=""
      styleClass="mr-1"
      [(ngModel)]="toolbarProperties.fillArea"
      (onChange)="onChangeProperty()"
      [disabled]="!toolbarProperties.showLines"
      [title]="
        (toolbarProperties.fillArea ? 'chartviewer.xy-chart-viewer-toolbar.clear-area' : 'chartviewer.xy-chart-viewer-toolbar.fill-area')
          | translate
      "
    >
    </p-toggleButton>
    <!-- Datapoints -->
    <p-toggleButton
      onIcon="fa fa-share-alt"
      offIcon="fa fa-share-alt"
      onLabel=""
      offLabel=""
      styleClass="mr-1"
      [(ngModel)]="toolbarProperties.drawPoints"
      (onChange)="onChangeProperty()"
      [title]="
        (toolbarProperties.drawPoints
          ? 'chartviewer.xy-chart-viewer-toolbar.hide-datapoints'
          : 'chartviewer.xy-chart-viewer-toolbar.show-datapoints'
        ) | translate
      "
    >
    </p-toggleButton>
    <!-- Flags -->
    <p-toggleButton
      onIcon="fa fa-flag"
      offIcon="fa fa-flag-o"
      onLabel=""
      offLabel=""
      styleClass="mr-1"
      [(ngModel)]="toolbarProperties.respectFlags"
      (onChange)="onChangeProperty()"
      [title]="
        (toolbarProperties.respectFlags
          ? 'chartviewer.xy-chart-viewer-toolbar.do-not-respect-flags'
          : 'chartviewer.xy-chart-viewer-toolbar.respect-flags'
        ) | translate
      "
    >
    </p-toggleButton>
    <!-- Group -->
    <p-toggleButton
      title="Group measurement"
      [onIcon]="'fa fa-object-group'"
      offIcon="fa fa-object-group"
      onLabel=""
      offLabel=""
      [(ngModel)]="toolbarProperties.groupMeasurements"
      (onChange)="onChangeProperty()"
      title="{{
        (toolbarProperties.groupMeasurements
          ? 'chartviewer.xy-chart-viewer-toolbar.ungroup-measurements'
          : 'chartviewer.xy-chart-viewer-toolbar.group-measurements'
        ) | translate
      }}"
    >
    </p-toggleButton>
    <!-- tension -->
    <p-inputNumber
      size="1"
      [(ngModel)]="toolbarProperties.lineTension"
      [showButtons]="true"
      [min]="0"
      [step]="0.1"
      [max]="1"
      styleClass="mr-1"
      (onChange)="onChangeProperty()"
      [title]="'chartviewer.xy-chart-viewer-toolbar.tension' | translate"
    >
    </p-inputNumber>
    <p-toggleButton
      title="Relative Measurement"
      styleClass="mr-1"
      onIcon="fa fa-line-chart"
      offIcon="fa fa-line-chart"
      [onLabel]="'chartviewer.xy-chart-viewer-toolbar.relative-drawing' | translate"
      [offLabel]="'chartviewer.xy-chart-viewer-toolbar.absolute-drawing' | translate"
      [(ngModel)]="toolbarProperties.relativeDrawing"
      (onChange)="onChangeProperty()"
      [title]="
        (toolbarProperties.relativeDrawing
          ? 'chartviewer.xy-chart-viewer-toolbar.relative-drawing'
          : 'chartviewer.xy-chart-viewer-toolbar.absolute-drawing'
        ) | translate
      "
    >
    </p-toggleButton>
    <p-button
      [title]="'chartviewer.xy-chart-viewer-toolbar.open-popup' | translate"
      [label]="'chartviewer.xy-chart-viewer-toolbar.open-popup' | translate"
      (onClick)="onOpenPopupWindow()"
    >
    </p-button>
    <p-splitButton
      [pTooltip]="'chartviewer.xy-chart-data-selection-panel.add-to-basket' | translate"
      class="ml-2"
      (onClick)="onButtonClick()"
      icon="fa fa-shopping-cart"
      [model]="options"
    ></p-splitButton>
    <p-toggleButton
      styleClass="ml-2"
      [(ngModel)]="toolbarProperties.multipleAxes"
      (onChange)="onChangeProperty()"
      [onLabel]="'chartviewer.xy-chart-viewer-toolbar.multiple-y-axes' | translate"
      [offLabel]="'chartviewer.xy-chart-viewer-toolbar.single-y-axis' | translate"
    ></p-toggleButton>
  </div>

  <div>
    <mdm-sharelink></mdm-sharelink>
  </div>
</div>
