<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div *ngIf="!(sensors?.length > 0)">
  <div class="alert alert-info" style="margin: 0">
    <strong>{{ status | translate }}</strong>
  </div>
</div>
<accordion *ngIf="sensors">
  <accordion-group *ngFor="let node of sensors" #s>
    <div accordion-heading class="thinheader">
      {{ node.name }}
      <span class="pull-right fa" [ngClass]="{ 'fa-chevron-down': s?.isOpen, 'fa-chevron-right': !s?.isOpen }"></span>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ "details.sensor.tblhdr-name" | translate }}</th>
          <th>{{ "details.sensor.tblhdr-measured" | translate }}</th>
          <th>{{ "details.sensor.tblhdr-ordered" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attr of node.attributes" [ngClass]="diff(attr.value[0], attr.value[1])">
          <td>{{ attr.name[0] }}</td>
          <td>{{ attr.value[0] }}</td>
          <td>{{ attr.value[1] }}</td>
        </tr>
      </tbody>
    </table>
  </accordion-group>
</accordion>
