<p-table
  #announcementConfigTable
  [value]="announcementConfigs"
  [columns]="cols"
  selectionMode="single"
  [(selection)]="selectedAnnouncementConfig"
  styleClass="table-hover p-datatable-gridlines p-datatable-striped"
  [loading]="isLoading"
  [scrollable]="true"
  scrollHeight="flex"
  [metaKeySelection]="true"
  [sortField]="cols[0].field"
  sortOder="1"
>
  <!-- caption -->
  <ng-template pTemplate="caption">
    <div class="caption-wrapper">
      <p-button
        type="button"
        icon="pi pi-plus"
        (onClick)="onCreateOrEditAnnouncementConfig()"
        [pTooltip]="'administration.announcements.config-add' | translate"
        tooltipPosition="left"
      ></p-button>
      <p-button
        type="button"
        icon="pi pi-pencil"
        (onClick)="onCreateOrEditAnnouncementConfig(selectedAnnouncementConfig)"
        [disabled]="!selectedAnnouncementConfig"
        [pTooltip]="'administration.announcements.config-edit' | translate"
        tooltipPosition="left"
      ></p-button>
      <p-button
        type="button"
        icon="fa fa-trash"
        styleClass="p-button-danger"
        (onClick)="onDeleteAnnouncementConfig(selectedAnnouncementConfig)"
        [disabled]="!selectedAnnouncementConfig"
        [pTooltip]="'administration.announcements.config-remove' | translate"
        tooltipPosition="left"
      ></p-button>
    </div>
  </ng-template>
  <!-- header -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        <span class="col-hdr-box">
          {{ col.header | translate }}
        </span>
      </th>
    </tr>
  </ng-template>

  <!-- body -->
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" (dblclick)="onEditAnnouncementConfig(rowData)">
      <td *ngFor="let col of columns">
        <ng-container [ngSwitch]="col.type">
          <span *ngSwitchCase="'dateTime'">
            {{ rowData.message[col.field] }}
          </span>
          <span *ngSwitchDefault [pTooltip]="rowData.message[col.field]">
            {{ rowData.message[col.field] }}
          </span>
        </ng-container>
      </td>
    </tr>
  </ng-template>

  <!-- empty message -->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns?.length">
        {{ "administration.announcements.msg-no-announcement-configs-found" | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>

<p-confirmDialog
  [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  [acceptLabel]="'administration.btn-delete' | translate"
  acceptButtonStyleClass="p-button-danger"
  acceptIcon="fa fa-trash"
  [rejectLabel]="'administration.btn-cancel' | translate"
  [header]="'administration.announcements.hdr-confirm-delete' | translate"
  [message]="'administration.announcements.msg-confirm-delete' | translate"
></p-confirmDialog>
