.col-hdr-box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.caption-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
}