<!-- ********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->

<div class="mdm-unit-viewer-container">
  <p-dialog
    [header]="'administration.units.dialog-unit-delete-title' | translate"
    [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
    [(visible)]="dialogUnitDelete"
    (onHide)="cancelRemoveUnit()"
  >
    <div class="ui-g ui-fluid" *ngIf="tmpUnitDelete">
      <div class="ui-g-12">
        <div class="text">
          <span>{{ "administration.units.dialog-unit-delete-text" | translate }}</span
          >&nbsp;<strong *ngIf="tmpUnitDelete">{{ tmpUnitDelete.name }}</strong>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          icon="pi pi-times"
          (click)="cancelRemoveUnit()"
          [label]="'administration.units.btn-cancel' | translate"
        ></button>
        <button
          type="button"
          pButton
          class="p-button-danger"
          icon="fa fa-trash"
          (click)="confirmRemoveUnit()"
          [label]="'administration.units.btn-del' | translate"
        ></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog
    [header]="unitEditTitle"
    [(visible)]="dialogUnitEdit"
    showEffect="fade"
    [modal]="true"
    (onHide)="hideDialogUnit()"
    [contentStyle]="{ width: '44em', 'min-height': '30em' }"
  >
    <div class="list-group gap-3" *ngIf="tmpUnitEdit">
      <div class="flex flex-column gap-2">
        <label for="unit_name">{{ "administration.units.name" | translate }}</label>
        <input
          *ngIf="!dialogCanRemove"
          id="unit_name"
          required
          pInputText
          [(ngModel)]="tmpUnitEdit.name"
          (keyup)="nameCheckUnique()"
          class="form-control"
        />
        <div *ngIf="unitAlreadyExists" class="alert alert-danger">
          {{ unitAlreadyExists }}
        </div>
        <input *ngIf="dialogCanRemove" id="unit_name" required pInputText [(ngModel)]="tmpUnitEdit.name" class="form-control" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="unit_desc">{{ "administration.units.description" | translate }}</label>
        <input id="unit_desc" pInputText [(ngModel)]="tmpUnitEdit.desc" class="form-control" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="unit_factor">{{ "administration.units.factor" | translate }}</label>
        <input id="unit_factor" required type="number" [(ngModel)]="tmpUnitEdit.factor" class="form-control" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="unit_offset">{{ "administration.units.offset" | translate }}</label>
        <input id="unit_offset" required type="number" [(ngModel)]="tmpUnitEdit.offset" class="form-control" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="unit_physdim">{{ "administration.units.phys-dim" | translate }}</label>
        <p-dropdown
          *ngIf="tmpUnitEdit"
          id="unit_physdim"
          required
          scrollHeight="9em"
          [options]="physDims"
          [(ngModel)]="tmpUnitEdit.selectedPhysDim"
          optionLabel="name"
          dataKey="id"
          [placeholder]="'administration.units.dropdown-please-select' | translate"
        ></p-dropdown>
      </div>

      <div class="flex flex-column gap-2">
        <label for="unit_db">{{ "administration.units.db" | translate }}</label>
        <p-checkbox *ngIf="tmpUnitEdit" id="unit_db" [(ngModel)]="tmpUnitEdit.dB" [binary]="true"></p-checkbox>
      </div>

      <div class="flex flex-column gap-2">
        <label for="unit_dbreffact">{{ "administration.units.db-ref-factor" | translate }}</label>
        <input id="unit_dbreffact" type="number" [(ngModel)]="tmpUnitEdit.dBRefFactor" class="form-control" />
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          icon="pi pi-check"
          (click)="saveDialogUnit()"
          [label]="'administration.units.btn-save' | translate"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-times"
          (click)="cancelDialogUnit()"
          [label]="'administration.units.btn-cancel' | translate"
        ></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-table
    class="unit-table"
    [value]="units"
    *ngIf="environment"
    styleClass="table-hover p-datatable-gridlines"
    (onRowSelect)="onUnitRowSelect($event)"
    selectionMode="single"
    [(selection)]="selectedUnit"
    sortMode="multiple"
    [multiSortMeta]="[{ field: 'name', order: 1 }]"
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template pTemplate="caption" *ngIf="environment">
      <div class="caption-wrapper">
        <p-button icon="pi pi-plus" [label]="'administration.units.btn-add' | translate" (onClick)="addUnit()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="dense" pSortableColumn="name" sortOrder="1">
          {{ "administration.units.name" | translate }}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="desc">
          {{ "administration.units.description" | translate }}
          <p-sortIcon field="desc"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="factor">
          {{ "administration.units.factor" | translate }}
          <p-sortIcon field="factor"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="offset">
          {{ "administration.units.offset" | translate }}
          <p-sortIcon field="offset"></p-sortIcon>
        </th>
        <th pSortableColumn="physDimName">
          {{ "administration.units.phys-dim" | translate }}
          <p-sortIcon field="physDimName"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="dB">
          {{ "administration.units.db" | translate }}
          <p-sortIcon field="dB"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="dBRefFactor">
          {{ "administration.units.db-ref-factor" | translate }}
          <p-sortIcon field="dBRefFactor"></p-sortIcon>
        </th>
        <th class="button-col"></th>
        <th class="button-col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="rowData">
        <td class="dense">
          <span>{{ rowData.name }}</span>
        </td>
        <td class="dense">
          <span>{{ rowData.desc }}</span>
        </td>
        <td class="dense">
          <span>{{ rowData.factor }}</span>
        </td>
        <td class="dense">
          <span>{{ rowData.offset }}</span>
        </td>
        <td>
          <span>{{ rowData.physDimName }}</span>
        </td>
        <td class="dense">
          <input type="checkbox" [checked]="rowData.dB === true" disabled="disabled" />
        </td>
        <td class="dense">
          <span *ngIf="rowData.dBRefFactor">{{ rowData.dBRefFactor }}</span>
        </td>
        <td class="button-col">
          <p-button icon="pi pi-copy" (onClick)="copyUnit(rowData)" [title]="'administration.units.btn-copy' | translate"></p-button>
        </td>
        <td class="button-col">
          <p-button icon="pi pi-trash" (onClick)="removeUnit(rowData)" [title]="'administration.units.btn-del' | translate"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
