<p-table
  class="custom-table-view"
  selectionMode="single"
  [(selection)]="selectedTplComp"
  [value]="[tplComponent]"
  dataKey="id"
  [tableStyle]="{ 'min-width': '80vw' }"
  (onEditComplete)="onTplEditComplete($event)"
  (onEditInit)="onTplEditInit($event)"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "administration.templateManager.name" | translate }}</th>
      <th>{{ "administration.templateManager.catalogComponent" | translate }}</th>
      <th>{{ "administration.templateManager.optional" | translate }}</th>
      <th>{{ "administration.templateManager.testStepSerieVariable" | translate }}</th>
      <th>{{ "administration.templateManager.defaultActive" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tempData>
    <tr [pRowToggler]="tempData" [pSelectableRow]="tempData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="tempData">
      <td [pEditableColumn]="tempData">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" pInputText class="form-control" [(ngModel)]="tempData.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ tempData.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ tempData.catalogComponent }}</td>
      <td [pEditableColumn]="tempData">
        <p-checkbox
          trueValue="true"
          falseValue="false"
          [(ngModel)]="tempData.optional"
          [disabled]="!isEditable"
          [binary]="true"
        ></p-checkbox>
      </td>
      <td [pEditableColumn]="tempData">
        <p-checkbox
          trueValue="true"
          falseValue="false"
          [(ngModel)]="tempData.testStepSeriesVariable"
          [disabled]="!isEditable"
          [binary]="true"
        ></p-checkbox>
      </td>
      <td [pEditableColumn]="tempData">
        <p-checkbox
          trueValue="true"
          falseValue="false"
          [(ngModel)]="tempData.defaultActive"
          [disabled]="!isEditable"
          [binary]="true"
        ></p-checkbox>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      <div>{{ "administration.templateManager.version" | translate }}: {{ templateRoot?.version }}</div>
      <div>{{ "administration.templateManager.status" | translate }}: {{ templateRoot?.validFlag }}</div>
    </div>
  </ng-template>
</p-table>

<br />

<p-table
  dataKey="id"
  (onEditComplete)="onEditComplete($event)"
  (onEditInit)="onAttrEditInit($event)"
  class="custom-table-view mt-0"
  [value]="catalogAttr"
  [tableStyle]="{ 'min-width': '80vw' }"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
>
  <ng-template pTemplate="caption">
    {{ "administration.templateManager.attributes" | translate }}
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "administration.templateManager.active" | translate }}</th>
      <th>{{ "administration.templateManager.name" | translate }}</th>
      <th>{{ "administration.templateManager.defaultValue" | translate }}</th>
      <th>{{ "administration.templateManager.dataType" | translate }}</th>
      <th>{{ "administration.templateManager.unit" | translate }}</th>
      <th>{{ "administration.templateManager.readOnly" | translate }}</th>
      <th>{{ "administration.templateManager.optional" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tplAttr let-editing="editing">
    <tr [pEditableRow]="tplAttr">
      <td>
        <p-checkbox
          [(ngModel)]="tplAttr.active"
          trueValue="true"
          falseValue="false"
          [binary]="true"
          (onChange)="createTpl(tplAttr)"
          [disabled]="!isEditable"
        ></p-checkbox>
      </td>
      <td>{{ tplAttr.name }}</td>
      <td [pEditableColumn]="tplAttr">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input class="form-control" pInputText type="text" [(ngModel)]="tplAttr.defaultValue" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ tplAttr.defaultValue }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ tplAttr.dataType }}</td>
      <td>
        <span *ngFor="let unit of units">
          {{ unit.id === tplAttr.unit ? unit.name : "" }}
        </span>
      </td>
      <td [pEditableColumn]="tplAttr">
        <p-checkbox
          trueValue="true"
          falseValue="false"
          [(ngModel)]="tplAttr.valueReadonly"
          [disabled]="!isEditable"
          [binary]="true"
        ></p-checkbox>
      </td>
      <td [pEditableColumn]="tplAttr">
        <p-checkbox
          trueValue="false"
          falseValue="true"
          [(ngModel)]="tplAttr.obligatory"
          [disabled]="!isEditable"
          [binary]="true"
        ></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>
