/*.custom-table-view ::ng-deep.p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  border: 1px solid #dee2e6;
}
.custom-table-view ::ng-deep.p-datatable .p-datatable-tbody > tr > td {
  border-right: 1px solid #dee2e6;
}
.custom-table-view ::ng-deep tbody {
  border: 1px solid #dee2e6;
}

.custom-table-view ::ng-deep > div {
  margin-top: 2rem;
}
*/