<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div class="app-wrapper">
  <nav class="navbar navbar-dark bg-dark navbar-expand py-0">
    <a class="navbar-brand" routerLink="/navigator" style="cursor: pointer">openMDM5 Web</a>
    <div class="collapse navbar-collapse" id="bs-mdm-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item flex align-items-center" *ngFor="let link of links" [routerLinkActive]="['active']">
          <a *ngIf="link.visible" class="nav-link" [routerLink]="link.routerLink" style="cursor: pointer"> {{ link.label }}</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item flex align-items-center">
          <span class="navbar-text" style="padding: 7px 5px; vertical-align: top">{{ "app.datasources" | translate }}</span>
          <p-multiSelect
            #datasourcemultiselect
            [options]="datasources"
            (onChange)="onSelectDatasources()"
            [(ngModel)]="selectedDatasources"
            [style]="{ 'margin-top': '2px', 'margin-bottom': '2px', width: '150px' }"
            maxSelectedLabels="1"
            [defaultLabel]="'app.dialog-preference-datasources.choose' | translate"
            [selectedItemsLabel]="'app.dialog-preference-datasources.x-datasources-selected' | translate"
          >
            <p-footer>
              <div class="flex" style="white-space: nowrap">
                <button
                  type="button"
                  class="btn btn-mdm w-100"
                  (click)="displayDatasourceDialog = true"
                  [title]="'app.dialog-preference-datasources.title' | translate"
                >
                  {{ "app.dialog-preference-datasources.btntitle" | translate }}
                </button>
              </div>
            </p-footer>
          </p-multiSelect>
        </li>
        <li class="nav-item flex align-items-center">
          <span class="navbar-text" style="padding: 7px 5px; vertical-align: top">{{ "app.language" | translate }}</span>
          <p-dropdown
            [options]="languages"
            (onChange)="onSelectLanguage()"
            [(ngModel)]="selectedLanguage"
            [style]="{ 'margin-top': '2px', 'margin-bottom': '2px', 'min-width': '100px' }"
          >
            <ng-template let-language pTemplate="item">
              <div class="country-item">
                <img class="mx-1" [src]="'assets/famfamfam_icons/' + language?.value?.toLowerCase() + '.png'" />{{ l }}
                {{ language?.label }}
              </div>
            </ng-template>
          </p-dropdown>
        </li>
        <li class="nav-item flex align-items-center">
          <span class="navbar-text" style="padding: 7px 5px; vertical-align: top">{{ "app.timezone" | translate }}</span>
          <p-dropdown
            [options]="timezones"
            [group]="true"
            [filter]="true"
            (onChange)="onSelectTimezone()"
            [(ngModel)]="selectedTimezone"
            [style]="{ 'margin-top': '2px', 'margin-bottom': '2px', 'min-width': '100px' }"
          >
            <ng-template pTemplate="footer">
              <div class="flex border-top-1">
                <div class="flex align-items-center m-1">
                  <label for="datetype">{{ "app.date-format-type" | translate }}</label>
                </div>
                <div class="flex align-items-center my-1">
                  <p-selectButton
                    [options]="dateFormatTypes"
                    [(ngModel)]="selectedDateFormatType"
                    (onChange)="onSelectDateFormatType($event)"
                    inputId="datetype"
                  ></p-selectButton>
                </div>
              </div>
              <div class="flex border-top-1">
                <div class="flex align-items-center m-1">
                  <label for="hourFormatType">{{ "app.hour-format-type" | translate }}</label>
                </div>
                <div class="flex align-items-center my-1">
                  <p-selectButton
                    [options]="hourFormatTypes"
                    [(ngModel)]="selectedHourFormatType"
                    (onChange)="onSelectHourFormatType($event)"
                    inputId="hourFormatType"
                    [disabled]="selectedIsoFormat"
                  ></p-selectButton>
                </div>
              </div>
              <div class="flex m-1">
                <p-checkbox
                  [(ngModel)]="selectedIsoFormat"
                  [binary]="true"
                  (onChange)="onSelectIsoFormat($event)"
                  inputId="isoformat"
                ></p-checkbox>
                <label for="isoformat">ISO format</label>
              </div>
            </ng-template>
          </p-dropdown>
        </li>
        <li class="nav-item flex align-items-center">
          <a class="nav-link" [routerLink]="" (click)="onShowAboutDialog()" href="#">{{ "app.about" | translate }}</a>
        </li>
        <li class="nav-item flex align-items-center mr-2 ml-2">
          <mdm-notifications></mdm-notifications>
        </li>
        <li class="nav-item flex align-items-center">
          <a class="nav-link" href="mdm/logout">
            <i class="pi pi-sign-out"></i>
            {{ "app.logout" | translate }}
            <span *ngIf="user?.name" [title]="('app.roles' | translate) + ': ' + rolesTooltip"> ({{ user?.name }}) </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <mdm-announcement></mdm-announcement>

  <div style="height: 100%; overflow: hidden">
    <router-outlet *ngIf="canShowApplication"></router-outlet>
  </div>
</div>

<p-dialog
  [header]="'app.dialog-preference-datasources.title' | translate"
  [(visible)]="displayDatasourceDialog"
  [style]="{ 'max-width': '400px', 'max-height': '400px' }"
>
  <p-table
    *ngIf="datasources?.length > 0"
    [value]="datasources"
    [(selection)]="selectedPreferenceRow"
    [paginator]="datasources?.length > 10"
    [rows]="10"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          {{ "app.dialog-preference-datasources.column-header" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>
          <p-tableCheckbox [value]="row"></p-tableCheckbox>
        </td>
        <td>
          {{ row?.label }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-footer>
    <button
      type="button"
      pButton
      (click)="saveDatasourcePreference()"
      [disabled]="selectedPreferenceRow?.length === 0"
      icon="pi pi-save"
      [label]="'app.dialog-preference-datasources.btntitle' | translate"
    ></button>
  </p-footer>
</p-dialog>

<p-dialog
  [header]="'About openMDM ' + version.version + ' | ' + version.hash"
  [(visible)]="displayAboutDialog"
  modal="true"
  dismissableMask="true"
>
  <div>
    <a href="assets/docs/openMDM5_UserGuide.html" target="_blank"
      >{{ "app.userguide" | translate }} <span class="pi pi-external-link" style="font-size: 1.5ex; margin-left: 1ex"></span
    ></a>
  </div>
  <div>
    <a href="assets/docs/GettingStarted_mdmblProject.html" target="_blank"
      >{{ "app.gettingstarted" | translate }} <span class="pi pi-external-link" style="font-size: 1.5ex; margin-left: 1ex"></span
    ></a>
  </div>
  <hr />
  <mdm-notice></mdm-notice>
</p-dialog>

<p-confirmDialog key="global"></p-confirmDialog>

<mdm-login-modal></mdm-login-modal>
