<p-panel toggler="header" [toggleable]="true" [style]="{ height: '100%', overflow: 'hidden' }" *ngIf="environments && allSearchAttributes">
  <ng-template pTemplate="header">
    <span class="font-bold">{{ "recent-changes.titles." + type | translate }}</span>
    &nbsp;&nbsp;
    <mdm-view (click)="$event.stopPropagation()" (view)="onViewChanged($event)"></mdm-view>
  </ng-template>
  <ng-template pTemplate="icons">
    <span class="badge badge-pill badge-primary ml-1" *ngFor="let item of results?.totalRecords | keyvalue">
      {{ item.key }}: {{ item.value }}
    </span>
    <p-button
      icon="fa fa-line-chart"
      styleClass="ml-1"
      (onClick)="quickPlotMetadataTrends($event)"
      [title]="'basket.mdm-basket.quick-plot' | translate"
    ></p-button>
    <p-button
      icon="fa fa-shopping-cart"
      styleClass="ml-1"
      (onClick)="selected2Basket($event)"
      [title]="'search.mdm-search.tooltip-add-selection-to-shopping-basket' | translate"
    ></p-button>
  </ng-template>
  <ng-template pTemplate="content">
    <mdm-tableview
      [results]="results"
      [view]="selectedView"
      isShopable="true"
      [menuItems]="contextMenuItems"
      [selectedEnvs]="environments"
      [environments]="environments"
      [loading]="loading"
    >
    </mdm-tableview>
  </ng-template>
</p-panel>

<p-dialog
  header="{{ 'basket.mdm-basket.quick-plot' | translate }}"
  [(visible)]="lgQuickPlotModal"
  [modal]="true"
  [style]="{ width: '75vw' }"
>
  <mdm-quick-plot [items]="this.selectedItems"></mdm-quick-plot>
</p-dialog>
