<br />

<p-table
  selectionMode="single"
  [(selection)]="catalogSelected"
  editMode="row"
  (onRowSelect)="onCatalogRowSelect($event)"
  [value]="catComps"
  dataKey="id"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <span></span>
      <p-button
        icon="pi pi-plus"
        class="create-btn"
        [label]="'administration.catalog.newcatalogComponent' | translate"
        (onClick)="showcreateCatCompononetDialog()"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "administration.catalog.name" | translate }}</th>
      <th>{{ "administration.catalog.description" | translate }}</th>
      <th>{{ "administration.catalog.type" | translate }}</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-catData let-rowIndex="rowIndex" let-editing="editing" let-ri="rowIndex">
    <tr
      [pRowToggler]="catData"
      [pSelectableRow]="catData"
      [pSelectableRowIndex]="rowIndex"
      [pContextMenuRow]="catData"
      [pEditableRow]="catData"
    >
      <td>{{ catData.name }}</td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input class="form-control" pInputText type="text" [(ngModel)]="catData.description" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ catData.description }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ catData.sourceType }}</td>
      <td>
        <div class="flex gap-2">
          <p-button *ngIf="!editing" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(catData)"></p-button>
          <p-button *ngIf="editing" pRipple pSaveEditableRow icon="pi pi-check" (click)="updateCatalogDescription(catData)"></p-button>
          <p-button *ngIf="editing" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(catData, ri)"></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog [header]="'administration.catalog.newcatalogComponent' | translate" [(visible)]="visible" [style]="{ width: '30vw' }">
  <label class="mb-3 mt-3">{{ "administration.catalog.name" | translate }} </label>
  <input pInputText type="text" class="form-control" [(ngModel)]="newCatCompName" />
  <p-button
    class="float-right mr-4 mt-3"
    [label]="'administration.catalog.create' | translate"
    (onClick)="createNewCatComponent()"
  ></p-button>
</p-dialog>
