<div class="m-3 flex align-items-center justify-content-start">
  <div class="mr-3">{{ "administration.catalog.catalog-select" | translate }}:</div>
  <p-dropdown
    (onChange)="onChangeContextType()"
    [options]="contextTypes"
    [(ngModel)]="selectedContextType"
    [placeholder]="'administration.extsystem.dropdown-please-select' | translate"
  ></p-dropdown>
</div>
