<div class="mt-5 pl-3" *ngFor="let tpl of testStepTpls">
  <div class="row">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.name" | translate }}</span>
    </div>
    <div class="col-4" *ngIf="tpl.validFlag === 'EDITABLE'">
      <input (change)="updateTestStepTpl(tpl)" pInputText type="text" class="form-control" [(ngModel)]="tpl.name" />
    </div>
    <div class="col-4" *ngIf="tpl.validFlag !== 'EDITABLE'">
      {{ tpl.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.description" | translate }}</span>
    </div>
    <div class="col-4">
      <input (change)="updateTestStepTpl(tpl)" pInputText type="text" class="form-control" [(ngModel)]="tpl.description" />
    </div>
  </div>

  <div class="row pb-2">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.version" | translate }}: </span>
    </div>
    <div class="col-4">
      {{ tpl.version }}
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.status" | translate }}: </span>
    </div>
    <div class="col-4">
      {{ tpl.validFlag }}
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.dateCreated" | translate }}: </span>
    </div>
    <div class="col-4">
      {{ tpl.dateCreated }}
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.uutTemplate" | translate }}</span>
    </div>
    <div class="col-4">
      <p-dropdown
        (onChange)="updateTestStepTpl(tpl)"
        [disabled]="tpl.validFlag !== 'EDITABLE'"
        [options]="uutTestTpls"
        [(ngModel)]="tpl.uutTplRootId"
        optionValue="id"
        optionLabel="name"
        [placeholder]="'administration.quantities.dropdown-please-select' | translate"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-1">
      <p-button
        icon="pi pi-trash"
        [disabled]="tpl.validFlag !== 'EDITABLE' || tpl.uutTplRootId === null"
        (onClick)="deleteUutTpl(tpl)"
      ></p-button>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.tsTemplate" | translate }}</span>
    </div>
    <div class="col-4">
      <p-dropdown
        (onChange)="updateTestStepTpl(tpl)"
        [disabled]="tpl.validFlag !== 'EDITABLE'"
        [options]="tsTestTpls"
        [(ngModel)]="tpl.tsTplRootId"
        optionValue="id"
        optionLabel="name"
        [placeholder]="'administration.quantities.dropdown-please-select' | translate"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-1">
      <p-button
        icon="pi pi-trash"
        [disabled]="tpl.validFlag !== 'EDITABLE' || tpl.tsTplRootId === null"
        (onClick)="deleteTsTpl(tpl)"
      ></p-button>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-4">
      <span>{{ "administration.testStepTpl.teTemplate" | translate }}</span>
    </div>
    <div class="col-4">
      <p-dropdown
        (onChange)="updateTestStepTpl(tpl)"
        [disabled]="tpl.validFlag !== 'EDITABLE'"
        [options]="teTestTpls"
        [(ngModel)]="tpl.teTplRootId"
        optionValue="id"
        optionLabel="name"
        [placeholder]="'administration.quantities.dropdown-please-select' | translate"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div class="col-1">
      <p-button
        icon="pi pi-trash"
        [disabled]="tpl.validFlag !== 'EDITABLE' || tpl.teTplRootId === null"
        (onClick)="deleteTeTpl(tpl)"
      ></p-button>
    </div>
  </div>
</div>
