<!-- ********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->

<!-- main explorer table -->
<p-table
  [value]="fileMetas"
  [columns]="columnConfigs"
  selectionMode="single"
  [(selection)]="selectedFileMeta"
  [metaKeySelection]="true"
  [contextMenu]="cm"
  contextMenuSelectionMode="joint"
  [resizableColumns]="true"
  styleClass="table-hover p-datatable-gridlines"
  [scrollable]="true"
  scrollHeight="flex"
>
  <!-- caption -->
  <ng-template pTemplate="caption">
    <!-- selected node -->
    <div class="flex line-height-1 p-1 align-items-center">
      <span *ngIf="node">{{ "file-explorer.file-explorer.ttl-attached-to" | translate }} {{ node?.name }}</span>
      <div class="flex-grow-1 text-right">
        <!-- download -->
        <p-button
          icon="pi pi-arrow-circle-down"
          (onClick)="onDownloadFile($event)"
          styleClass="ml-1"
          [title]="'file-explorer.file-explorer.btn-download-file' | translate"
          [disabled]="!selectedFileMeta"
        >
        </p-button>
        <!-- upload -->
        <p-button
          icon="pi pi-arrow-circle-up"
          (onClick)="onShowUploadDialog($event)"
          styleClass="ml-1"
          [title]="'file-explorer.file-explorer.btn-upload-files' | translate"
          [disabled]="readOnly || (attribute?.dataType === 'FILE_LINK' && fileMetas.length === 1)"
        >
        </p-button>
        <!-- neuer Link -->
        <p-button
          *ngIf="useLink"
          icon="pi pi-link"
          (onClick)="onShowCreatLinkDialog($event)"
          styleClass="ml-1"
          [title]="'file-explorer.file-explorer.btn-create-link' | translate"
          [disabled]="
            readOnly || attribute?.dataType === 'FILE_RELATION' || (attribute?.dataType === 'FILE_LINK' && fileMetas.length === 1)
          "
        >
        </p-button>
        <!-- preview -->
        <p-button
          icon="pi pi-search"
          (onClick)="onPreviewFile($event)"
          styleClass="ml-3"
          [title]="'file-explorer.file-explorer.btn-preview-file' | translate"
          [disabled]="!selectedFileMeta"
        >
        </p-button>
        <!-- refresh -->
        <p-button
          icon="pi pi-refresh"
          (onClick)="onRefresh($event)"
          styleClass="ml-1"
          [title]="'file-explorer.file-explorer.btn-refresh' | translate"
        >
        </p-button>
        <!-- delete -->
        <p-button
          icon="pi pi-trash"
          (onClick)="onDeleteFile($event)"
          styleClass="ml-1"
          [title]="'file-explorer.file-explorer.btn-delete-file' | translate"
          [disabled]="!selectedFileMeta || readOnly"
        >
        </p-button>
      </div>
    </div>
  </ng-template>

  <!-- header -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{ col.header | translate }}
        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
        >
        </p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <!-- body -->
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="rowData">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>

  <!-- empty message -->
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns?.length">
        {{ "file-explorer.file-explorer.msg-no-files-attached" | translate }}
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- context menu for explorer table -->
<p-contextMenu #cm [model]="ctxMenuItems" class="mdmContextMenu"></p-contextMenu>

<!-- confirm dialog for delete file from data base -->
<p-confirmDialog
  #cd
  key="fileExplorerConfirmation"
  [header]="'file-explorer.file-explorer.ttl-confirmation' | translate"
  icon="pi pi-exclamation-triangle"
  appendTo="body"
>
  <p-footer>
    <p-button icon="pi pi-check" [label]="'file-explorer.file-explorer.btn-yes-delete-file' | translate" (onClick)="cd.accept()"></p-button>
    <p-button icon="pi pi-times" [label]="'file-explorer.file-explorer.btn-no-delete-file' | translate" (onClick)="cd.reject()"></p-button>
  </p-footer>
</p-confirmDialog>

<p-dialog
  header="{{ 'file-explorer.file-explorer.hdr-create-link' | translate }}"
  [(visible)]="displayCreateLinkDialog"
  [style]="{ width: '400px', height: '250px' }"
  [contentStyle]="{ 'min-height': '5em' }"
>
  <span>
    <label for="link" style="width: 100px">{{ "file-explorer.file-explorer.hdr-link-name" | translate }}</label>
    <input type="text" pInputText [(ngModel)]="link" />
  </span>
  <p-footer>
    <button
      type="button"
      pButton
      (click)="saveLink()"
      [disabled]="link?.length === 0"
      icon="pi pi-save"
      label="{{ 'file-explorer.file-explorer.btn-save-link' | translate }}"
    ></button>
  </p-footer>
</p-dialog>
