/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/


 :host ::ng-deep div.p-fileupload {
  display: inline-flex;
  margin-left: 0.25rem;
  vertical-align: bottom;
}

.remove {
  color: black;
  cursor: pointer;
  float: right;
}

.fileupload {
  overflow: hidden;
  position: relative;
}

.fileupload input.upload {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.badge{
  margin: 0 0 2px 6px;
  float: none;
}
