<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<p-panel toggler="header" [toggleable]="true" styleClass="m-2">
  <p-header class="line-height-1"> <i class="pi pi-cog"></i> {{ "chartviewer.request-options.options" | translate }} </p-header>
  <div class="grid line-height-1">
    <!-- left -->
    <div class="col-2">
      <label for="rangeValStart">{{ "chartviewer.request-options.from" | translate }}</label>
      <p-inputNumber
        id="rangeValStart"
        [(ngModel)]="rangeValues[0]"
        [showButtons]="true"
        size="4"
        [step]="step"
        [min]="minIndex"
        [max]="numberOfRows"
        (onChange)="onChangeValueRange()"
      ></p-inputNumber>
    </div>
    <div class="col-2">
      <label for="rangeValEnd">{{ "chartviewer.request-options.to" | translate }}</label>
      <p-inputNumber
        id="rangeValEnd"
        [(ngModel)]="rangeValues[1]"
        [showButtons]="true"
        size="4"
        [step]="step"
        [min]="minIndex"
        [max]="numberOfRows"
        (onChange)="onChangeValueRange()"
        (onBlur)="onChangeValueRange()"
      ></p-inputNumber>
    </div>
    <div class="col-4">
      <label for="step">{{ "chartviewer.request-options.step-size" | translate }}</label>
      <p-inputNumber id="step" type="text" [(ngModel)]="step" [showButtons]="true" size="4"></p-inputNumber>
    </div>
    <!-- right -->
    <div class="col-4">
      <label for="preview">{{ "chartviewer.request-options.preview-values" | translate }}</label>
      <p-checkbox id="preview" [(ngModel)]="requestOptions.previewEnabled" binary="true"></p-checkbox>
    </div>
  </div>
  <!-- Row 2 -->
  <div class="grid line-height-1">
    <!-- left -->
    <div class="col-7">
      <div class="grid p-align-center">
        <div class="col-1" style="text-align: right">{{ minIndex }}</div>
        <div class="col-10">
          <p-slider
            [(ngModel)]="rangeValues"
            (onChange)="onChangeValueRange()"
            [range]="true"
            [min]="minIndex"
            [max]="numberOfRows"
            [step]="step"
            styleClass="mt-2"
          ></p-slider>
        </div>
        <div class="col-1">{{ numberOfRows }}</div>
      </div>
    </div>
    <div class="col-1"></div>
    <!-- right -->
    <div class="col-4">
      <input *ngIf="requestOptions.previewEnabled" type="text" mdmNumbersOnly pInputText [(ngModel)]="requestOptions.numberOfChunks" />
    </div>
  </div>
  <!-- Row 3 -->
  <div class="grid line-height-1">
    <div class="col-2 offset-8">
      <p-button (onClick)="onResetSettings()" icon="fa fa-undo" [label]="'chartviewer.request-options.reset' | translate"></p-button>
    </div>
    <div class="col-2">
      <p-button (onClick)="onApplySettings()" icon="pi pi-check" [label]="'chartviewer.request-options.apply' | translate"></p-button>
    </div>
  </div>
</p-panel>
