<div class="recent-changes-wrapper">
  <p-tabMenu [model]="links" [activeItem]="links[0]"></p-tabMenu>
  <div style="height: 100%; overflow: hidden">
    <router-outlet></router-outlet>
  </div>
</div>
