<br />
<p-contextMenu #cm [model]="contextMenuItems" appendTo="body" (onShow)="selectedNode(selectedTreeNode)"></p-contextMenu>

<p-treeTable
  [loading]="isTableLoading"
  [lazy]="true"
  (onLazyLoad)="loadTemplateRoots()"
  [(contextMenuSelection)]="selectedTreeNode"
  [contextMenu]="cm"
  [value]="treeNodes"
  selectionMode="single"
  (onNodeSelect)="onNodeSelect($event)"
  [(selection)]="selectedTreeNode"
  (onEditComplete)="updateTemplateRoot($event)"
  (onNodeExpand)="onNodeExpand($event)"
  styleClass="p-treetable-sm p-treetable-striped p-treetable-gridlines"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <p-checkbox
        trueValue="true"
        falseValue="false"
        [label]="'administration.templateManager.showArchived' | translate"
        [binary]="true"
        (onChange)="showArchived($event)"
      ></p-checkbox>
      <p-button
        icon="pi pi-plus"
        [label]="'administration.templateManager.createNewComp' | translate"
        (onClick)="showCreateTplRootDialog()"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "administration.templateManager.name" | translate }}</th>
      <th>{{ "administration.templateManager.version" | translate }}</th>
      <th>{{ "administration.templateManager.validFlag" | translate }}</th>
      <th>{{ "administration.templateManager.description" | translate }}</th>
      <th>{{ "administration.templateManager.dateCreated" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr
      [ttContextMenuRow]="rowNode"
      [ttRow]="rowNode"
      [ttSelectableRow]="rowNode"
      [class.d-none]="rowData.validFlag === 'ARCHIVED' && !isShowArchived"
    >
      <td ttEditableColumn [ttEditableColumn]="rowData" class="d-flex">
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <p-treeTableCellEditor class="ml-2">
          <ng-template pTemplate="input" *ngIf="rowData.validFlag === 'EDITABLE'">
            <input class="form-control" pInputText type="text" [(ngModel)]="rowData.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ rowData.name }}
          </ng-template>
        </p-treeTableCellEditor>
      </td>
      <td>{{ rowData.version }}</td>
      <td>{{ rowData.validFlag }}</td>
      <td ttEditableColumn [ttEditableColumn]="rowData">
        <p-treeTableCellEditor>
          <ng-template pTemplate="input" *ngIf="rowData.validFlag === 'EDITABLE'">
            <input class="form-control" pInputText type="text" [(ngModel)]="rowData.description" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ rowData.description }}
          </ng-template>
        </p-treeTableCellEditor>
      </td>
      <td>{{ rowData.dateCreated }}</td>
    </tr>
  </ng-template>
</p-treeTable>

<p-dialog
  [header]="'administration.templateManager.newTemplate' | translate"
  [(visible)]="createTplRootDialog.isVisible"
  [style]="{ width: '20vw' }"
>
  <label class="mb-3">{{ "administration.templateManager.name" | translate }} </label>
  <input pInputText type="text" class="form-control" [(ngModel)]="createTplRootDialog.newTplRootName" />
  <p-button
    class="float-right mt-3"
    [label]="'administration.templateManager.create' | translate"
    (onClick)="createNewTplRoot()"
  ></p-button>
</p-dialog>

<p-dialog
  [header]="'administration.templateManager.newComponentToTpl' | translate"
  [(visible)]="createTplCompDialog.isVisible"
  [style]="{ width: '30vw' }"
>
  <label class="mb-3 mt-3">{{ "administration.templateManager.catalogComponent" | translate }}</label>
  <p-dropdown
    [style]="{ width: '100%' }"
    [scrollHeight]="'10vh'"
    [options]="createTplCompDialog.catalogComponents"
    [(ngModel)]="createTplCompDialog.selectedCatalogComponent"
    optionLabel="name"
    [placeholder]="'administration.templateManager.selectCatalogComponent' | translate"
    (onChange)="showSelected($event)"
    appendTo="body"
  ></p-dropdown>
  <br />
  <label class="mb-3 mt-3">{{ "administration.templateManager.name" | translate }} </label>
  <input pInputText type="text" class="form-control" [(ngModel)]="createTplCompDialog.selectedCatCompName" />
  <p-button
    class="float-right mr-4 mt-3"
    [label]="'administration.templateManager.create' | translate"
    (onClick)="createNewComponent()"
  ></p-button>
</p-dialog>

<p-dialog header="Delete" [(visible)]="deleteDialog.isVisible" [style]="{ width: '20vw' }">
  <label class="mb-3">{{ "administration.templateManager.deleteDialog" | translate }}</label>
  <p-button
    class="float-right mt-3"
    [label]="'administration.templateManager.cancel' | translate"
    (onClick)="deleteDialog.isVisible = false"
  ></p-button>
  <p-button
    class="float-right mr-2 mt-3"
    [label]="'administration.templateManager.delete' | translate"
    (onClick)="deleteTplRoot()"
    *ngIf="deleteDialog.tplRootDelete"
  ></p-button>
  <p-button
    class="float-right mr-2 mt-3"
    [label]="'administration.templateManager.delete' | translate"
    (onClick)="deleteTplComp()"
    *ngIf="deleteDialog.tplCompDelete"
  ></p-button>
</p-dialog>

<p-dialog [header]="'administration.catalog.editTranslations' | translate" [(visible)]="showTranslations" [style]="{ width: '50vw' }">
  <p-table [value]="translations?.componentNames">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "administration.catalog.name" | translate }}</th>
        <th *ngFor="let l of translations?.languages"><img class="mx-1" [src]="'assets/famfamfam_icons/' + l + '.png'" />{{ l }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="border-bottom: 2px solid black">
        <td class="vertical-align-middle">{{ translations?.tplName }}</td>
        <td *ngFor="let l of translations?.languages; let langIndex = index">
          <input class="w-full" type="text" pInputText [(ngModel)]="translations?.nameTranslations[langIndex]" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-componentName let-rowIndex="rowIndex">
      <tr *ngIf="rowIndex === 0" style="border-bottom: 2px solid black">
        <td class="vertical-align-middle">{{ translations?.tplName }}</td>
        <td *ngFor="let l of translations?.languages; let langIndex = index">
          <input class="w-full" type="text" pInputText [(ngModel)]="translations?.nameTranslations[langIndex]" />
        </td>
      </tr>
      <tr>
        <td class="vertical-align-middle">{{ componentName?.componentName }}</td>
        <td *ngFor="let l of translations?.languages; let langIndex = index">
          <input class="w-full" type="text" pInputText [(ngModel)]="componentName?.translations[langIndex]" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-footer>
    <p-button [label]="'administration.catalog.btn-save' | translate" (click)="saveTranslations()"> </p-button>
    <p-button [label]="'administration.catalog.btn-cancel' | translate" (click)="closeTranslationsDialog()"> </p-button>
  </p-footer>
</p-dialog>
