<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div *ngIf="nodeStatus; else component">
  <div class="alert alert-info" style="margin: 0">
    <strong>{{ nodeStatus | translate }}</strong>
  </div>
</div>
<ng-template #component>
  <div *ngIf="!parametersets; else content" class="d-flex align-items-center">
    <button
      type="button"
      class="btn btn-mdm"
      (click)="addParameterset()"
      title="{{ 'details.parameterset.add-parameterset' | translate }}"
      *ngIf="currentNode"
    >
      <span class="fa fa-file-o"></span>
    </button>
    <div class="alert alert-info" style="margin: 0; flex-grow: 1">
      <strong>{{ status | translate }}</strong>
    </div>
  </div>
  <ng-template #content>
    <div class="outer-wrapper">
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <button
            type="button"
            class="btn btn-mdm"
            (click)="addParameterset()"
            title="{{ 'details.parameterset.add-parameterset' | translate }}"
            *ngIf="currentNode"
          >
            <span class="fa fa-file-o"></span>
          </button>
        </div>
      </p-toolbar>
      <div class="content-wrapper">
        <div *ngFor="let parameterSet of parametersets" [style]="">
          <mdm-parametersetpanel [parameterSet]="parameterSet" (parameterChanged)="refreshRequested()"> </mdm-parametersetpanel>
        </div>
      </div>
    </div>
  </ng-template>

  <p-dialog
    header="{{ addParamTitle }}"
    [(visible)]="dialogAddParam"
    [responsive]="true"
    showEffect="fade"
    [modal]="true"
    (onHide)="hideDialogAdd()"
    [contentStyle]="{ width: '44em', 'min-height': '5em' }"
  >
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label for="paramset_name">{{ "details.parameterset.parameterset-name" | translate }}</label>
        </div>
        <div class="ui-g-8">
          <input id="paramset_name" pInputText [(ngModel)]="tmpParamAdd.name" class="form-control" />
        </div>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          icon="fa fa-check"
          (click)="saveDialogAdd()"
          label="{{ 'administration.units.btn-save' | translate }}"
        ></button>
        <button
          type="button"
          pButton
          icon="fa fa-close"
          (click)="cancelDialogAdd()"
          label="{{ 'administration.units.btn-cancel' | translate }}"
        ></button>
      </div>
    </p-footer>
  </p-dialog>
</ng-template>
