<!-- ********************************************************************************
 * Copyright (c) 2025 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->

<div class="mdm-tags-viewer-container">
  <p-table
    class="tags-table"
    [value]="tags"
    *ngIf="selectedEnvironment && tags"
    styleClass="table-hover p-datatable-gridlines"
    selectionMode="single"
    [(selection)]="selectedTag"
    (onRowSelect)="onTagRowSelect()"
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template pTemplate="caption" *ngIf="selectedEnvironment">
      <div class="caption-wrapper">
        <p-button icon="pi pi-plus" [label]="'administration.tags.btn-add' | translate" (onClick)="addTag()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "administration.tags.name" | translate }}</th>
        <th>{{ "administration.tags.description" | translate }}</th>
        <th class="button-col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>
          <span>{{ rowData.name }}</span>
        </td>
        <td>
          <span>{{ getAttributeValueFromNode(rowData, "Description") }}</span>
        </td>
        <td>
          <p-button icon="pi pi-trash" (onClick)="removeTag(rowData)" [title]="'administration.tags.btn-del' | translate"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [header]="editTitle" [(visible)]="dialogTagEdit" [modal]="true" [style]="{ width: '38.2vw', minWidth: '32.8rem' }">
    <div class="list-group gap-3" *ngIf="tmpTagEdit">
      <div class="flex flex-column gap-2">
        <label for="unit_name">{{ "administration.tags.name" | translate }}</label>
        <input required pInputText type="text" [(ngModel)]="tmpTagEdit.name" />
      </div>
      <div *ngIf="editMode" class="flex flex-column gap-2">
        <label for="unit_name">{{ "administration.tags.description" | translate }}</label>
        <input required pInputText type="text" [(ngModel)]="tmpTagEdit.description" />
      </div>
    </div>
    <p-footer>
      <p-button icon="pi pi-times" (onClick)="cancelDialogTag()" [label]="'administration.tags.btn-cancel' | translate"></p-button>
      <p-button icon="pi pi-plus" (onClick)="saveDialogTag()" [label]="'administration.tags.btn-save' | translate"></p-button>
    </p-footer>
  </p-dialog>

  <p-dialog
    [header]="'administration.tags.dialog-tag-delete-title' | translate"
    [(visible)]="dialogTagDelete"
    [modal]="true"
    [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  >
    <div class="text">
      <span>{{ "administration.tags.dialog-tag-delete-text" | translate }}</span>
    </div>
    <p-footer>
      <p-button icon="pi pi-times" (onClick)="cancelRemoveTag()" [label]="'administration.tags.btn-cancel' | translate"></p-button>
      <p-button
        icon="pi pi-trash"
        styleClass="p-button-danger"
        (onClick)="confirmRemoveTag()"
        [label]="'administration.tags.btn-del' | translate"
      ></p-button>
    </p-footer>
  </p-dialog>
</div>
