<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<style>
  :host ::ng-deep .mdm-table-tabs.p-tabview .p-tabview-panels {
    padding: 0;
  }

  :host ::ng-deep p-splitter > .p-splitter > .p-splitter-panel {
    flex-direction: column;
    width: 10rem;
    min-width: 0rem;
  }
</style>
<div class="p-grid toolbar m-1">
  <mdm-xy-chart-viewer-toolbar
    #toolbar
    [toolbarProperties]="toolbarProperties"
    (toolbarPropertiesChanged)="onToolbarPropertiesChanged($event)"
    (addItemsToShoppingList)="onAddItemsToShoppingListChanged($event)"
  >
  </mdm-xy-chart-viewer-toolbar>
</div>

<!-- View area -->
<p-splitter [panelSizes]="toolbarProperties.showSelection ? [25, 75] : [1, 99]" [gutterSize]="toolbarProperties.showSelection ? 4 : 0">
  <ng-template pTemplate>
    <div class="flex-auto mr-2" *ngIf="toolbarProperties.showSelection">
      <!-- Axis selection -->
      <mdm-xy-chart-data-selection-panel
        [measurements]="measurements"
        [xyMode]="toolbarProperties.xyAxisFilterActive"
        (selectedMeasurementsChange)="onMeasurementsSelected($event)"
        (selectedChannelGroups)="onChannelGroupsSelected($event)"
        [selectedChannelRows]="selectedChannelRows"
        (selectedChannelRowsChange)="onDataSelectionChanged($event)"
      ></mdm-xy-chart-data-selection-panel>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <!-- Chart / Table -->
    <div [ngSwitch]="toolbarProperties.displayMode" class="flex-auto ml-2">
      <p-contextMenu #cm [model]="contextMenu"></p-contextMenu>

      <p-chart #xyChart *ngSwitchCase="'chart'" type="scatter" [data]="data" (contextmenu)="cm.show($event)"></p-chart>
      <p-tabView *ngSwitchCase="'table'" styleClass="mdm-table-tabs">
        <p-tabPanel [header]="sel[0]" *ngFor="let sel of groupedSelectedChannelRows; let i = index" [selected]="i === 0">
          <mdm-data-table [measurement]="measurements" [selectedChannelRows]="sel[1]"></mdm-data-table>
        </p-tabPanel>
      </p-tabView>
      <div *ngSwitchDefault></div>
    </div>
  </ng-template>
</p-splitter>

<mdm-request-options
  *ngIf="toolbarProperties.displayMode === 'chart'"
  [measurements]="measurements"
  [paramUserUnitPrefs]="paramUserUnitPrefs"
  [paramUserChannelFilterPrefs]="paramUserChannelFilterPrefs"
  [requestOptions]="requestOptions"
  (requestOptionsChanged)="onRequestOptionsChanged($event)"
></mdm-request-options>
