<p-table
  *ngIf="userSettings"
  [value]="userSettings"
  dataKey="preference"
  styleClass="table-hover p-datatable-gridlines"
  (onEditInit)="editInit($event)"
  (onEditComplete)="editCompleted($event)"
  [scrollable]="true"
  scrollHeight="flex"
>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "user-prefs.user-settings.setting" | translate }}</th>
      <th>{{ "user-prefs.user-settings.value" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-setting>
    <tr [pEditableRow]="setting">
      <td>{{ "user-prefs." + setting.preference | translate }}</td>
      <td [pEditableColumn]="setting">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <div [ngSwitch]="getSettingType(setting)">
              <div class="field-checkbox mb-0" *ngSwitchCase="'boolean'">
                <p-checkbox
                  [(ngModel)]="setting.value"
                  [binary]="true"
                  inputId="boolean_input"
                  styleClass="attreditorcheckbox"
                ></p-checkbox>
                <label for="boolean_input">{{ setting.value }}</label>
              </div>
              <p-inputNumber
                *ngSwitchCase="'number'"
                [showButtons]="true"
                [allowEmpty]="false"
                [(ngModel)]="setting.value"
                [min]="0"
              ></p-inputNumber>
              <input *ngSwitchDefault pInputText type="text" [(ngModel)]="setting.value" class="attreditor" />
            </div>
          </ng-template>
          <ng-template pTemplate="output">
            {{ setting.value }}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>
</p-table>
