<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div class="content-wrapper">
  <div class="table-wrapper">
    <p-table
      class="unit-filter-table"
      [value]="unitFilters"
      *ngIf="unitFilters"
      styleClass="table-hover p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="dense">{{ "user-prefs.unit-prefs.lbl-source" | translate }}</th>
          <th class="medium">{{ "user-prefs.unit-prefs.lbl-phys-dim" | translate }}</th>
          <th class="wide">{{ "user-prefs.unit-prefs.lbl-channel-name" | translate }}</th>
          <th class="dense">{{ "user-prefs.unit-prefs.lbl-unit" | translate }}</th>
          <th class="button-col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-unitFilter let-rowIndex="rowIndex">
        <tr>
          <td style="vertical-align: middle">
            <span>{{ getSourceDisplName() }}</span>
          </td>

          <td pEditableColumn class="vmid">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <select [(ngModel)]="unitFilter.physDim" (change)="onSet('pd', rowIndex)">
                  <option value="" selected="{{ unitFilter.physDim === '' ? 'selected' : '' }}">
                    {{ "user-prefs.unit-prefs.dropdown-please-select" | translate }}
                  </option>
                  <option
                    *ngFor="let physDim of paramPhysDims"
                    value="{{ physDim.name }}"
                    selected="{{ unitFilter.physDim === physDim.name ? 'selected' : '' }}"
                  >
                    {{ physDim.name }}
                  </option>
                </select>
              </ng-template>
              <ng-template pTemplate="output">
                <span>{{
                  unitFilter.physDim === "" ? ("user-prefs.unit-prefs.dropdown-please-select" | translate) : unitFilter.physDim
                }}</span>
              </ng-template>
            </p-cellEditor>
          </td>

          <td pEditableColumn class="vmid">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [placeholder]="'user-prefs.unit-prefs.mea-quantity-input' | translate"
                  [(ngModel)]="unitFilter.meaQuant"
                  (input)="onSet('mq', rowIndex)"
                  [pTooltip]="'user-prefs.unit-prefs.tooltip-input-long' | translate"
                  tooltipPosition="bottom"
                  showDelay="1000"
                  tooltipStyleClass="tooltip"
                  [ngStyle]="{ width: '100%' }"
                />
              </ng-template>
              <ng-template pTemplate="output">
                <span>{{ unitFilter.meaQuant }}</span>
              </ng-template>
            </p-cellEditor>
          </td>

          <td pEditableColumn class="vmid">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <select [(ngModel)]="unitFilter.unit" (change)="onSet('u', rowIndex)">
                  <option value="" [selected]="unitFilter.unit === '' ? 'selected' : ''">
                    {{ "user-prefs.unit-prefs.dropdown-please-select" | translate }}
                  </option>
                  <option
                    *ngFor="let unit of getAvailableUnits(unitFilter)"
                    [value]="unit.unitName"
                    [selected]="unitFilter.unit === unit.unitName ? 'selected' : ''"
                  >
                    {{ unit.unitName }}
                  </option>
                </select>
              </ng-template>
              <ng-template pTemplate="output">
                <span>{{ unitFilter.unit === "" ? ("user-prefs.unit-prefs.dropdown-please-select" | translate) : unitFilter.unit }}</span>
              </ng-template>
            </p-cellEditor>
          </td>

          <td class="vmid">
            <button
              id="remove"
              type="button"
              class="btn btn-default btn-sm pi pi-times remove"
              (click)="removeUnitFilter(rowIndex)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="unitFilters" class="commands">
    <p-button icon="pi pi-plus" [label]="'user-prefs.unit-prefs.unit-filters.btn-add' | translate" (onClick)="addUnitFilter()"></p-button>
  </div>
</div>
