/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/
.content-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  overflow: hidden;
  height: 100%;
}

.table-wrapper {
  height: 100%;
  overflow: hidden;
}

.commands {
  min-height: 30px;
  display: block;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  padding-right: .837em;
}
.commands button {
  margin-left: 10px;
}

.unit-filter-table {
    margin-top: 10px;
}
.unit-filter-table .button-col{
  width:60px;
}

.unit-filter-table .dense{width:14%;}
.unit-filter-table .medium{width:22%;}
.unit-filter-table .wide{width:calc(50% - 60px);}
.unit-filter-table td.dense,
.unit-filter-table td.medium,
.unit-filter-table td.wide{overflow: hidden; white-space: nowrap;}
.unit-filter-table th.dense,
.unit-filter-table th.medium,
.unit-filter-table td.wide{min-width: max-content;}

.unit-filter-table td.vmid{vertical-align: middle;}

.remove {
  color: black;
  cursor: pointer;
  float: right;
}

.system-selector .text {
  display:inline;
  padding-right: 0.5em;
}

.ml20 {
  margin-left: 20px;
}

