<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div class="content-wrapper">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <label for="userUnitPrefButton" class="col-form-label" [title]="'user-prefs.unit-prefs.lbl-unit-list' | translate">{{
        "user-prefs.unit-prefs.lbl-unit-list" | translate
      }}</label>
      <p-dropdown
        id="userUnitPrefButton"
        [options]="groupedUserUnitPrefs"
        [group]="true"
        (onChange)="clickUnitPreference($event)"
      ></p-dropdown>

      <p-button
        icon="pi pi-file"
        styleClass="ml-1"
        (onClick)="onNewUnitPref($event)"
        [title]="'user-prefs.unit-prefs.tooltip-create-new-unit-pref' | translate"
      ></p-button>
      <p-button
        icon="pi pi-save"
        styleClass="ml-1"
        (onClick)="onShowUnitPrefSaveModal()"
        [title]="'user-prefs.unit-prefs.tooltip-save-unit-pref' | translate"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        styleClass="ml-1 mr-1"
        (onClick)="onDeleteUnitPref($event)"
        [title]="'user-prefs.unit-prefs.tooltip-delete-unit-pref' | translate"
      ></p-button>

      <mdm-sharelink [customStateCallback]="getStateForTakeOver.bind(this)"></mdm-sharelink>

      <p-checkbox
        *ngIf="currentUnitPref"
        id="unit_pref_default"
        [(ngModel)]="currentUnitPref.isDefault"
        [binary]="true"
        class="ml-2"
        [style]="{ 'vertical-align': 'text-bottom' }"
        (onChange)="onUnitPreferenceDefaultChange($event)"
        (click)="$event.stopPropagation()"
      ></p-checkbox>
      <label for="unit_pref_default" class="ml-1">{{ "user-prefs.unit-prefs.lbl-default" | translate }}</label>
    </div>
  </p-toolbar>
  <div style="height: 100%; overflow: hidden">
    <mdm-unit-filter-table
      *ngIf="currentUnitPref"
      [environments]="getSourceSelectList()"
      [env]="currentUnitPref.source"
      [unitFilters]="currentUnitPref.unitFilters"
      [paramPhysDims]="getPhysDims(currentUnitPref.source)"
      (remove)="onRemoveUnitFilter($event)"
    >
    </mdm-unit-filter-table>
  </div>
</div>

<p-dialog
  [header]="'user-prefs.unit-prefs.delete-title' | translate"
  [(visible)]="isShowDialogUnitPrefDelete"
  [modal]="true"
  (onHide)="cancelRemoveUnitPref()"
  (keyup.enter)="cancelRemoveUnitPref()"
>
  <div class="ui-g ui-fluid" *ngIf="tmpUnitPrefDelete">
    <div class="ui-g-12">
      <div class="text">
        <span
          >{{ "user-prefs.unit-prefs.delete-text" | translate }}&nbsp; <br /><strong *ngIf="tmpUnitPrefDelete">{{
            tmpUnitPrefDelete.displName
          }}</strong>
        </span>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix text-left">
      <button type="button" class="btn btn-mdm btn-default" (click)="cancelRemoveUnitPref()">
        <span class="pi pi-times"></span> {{ "user-prefs.unit-prefs.btn-cancel" | translate }}
      </button>
      <button type="button" class="btn btn-mdm pull-right" (click)="confirmedRemoveUnitPref()">
        <span class="pi pi-check"></span> {{ "user-prefs.unit-prefs.btn-delete" | translate }}
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  showEffect="fade"
  [modal]="true"
  [contentStyle]="{ width: '44em', 'min-height': '10em' }"
  [header]="'user-prefs.unit-prefs.new_dialog-title' | translate"
  [(visible)]="isShowDialogUnitPrefEdit"
  (onHide)="hideDialogUnitPref()"
>
  <div class="ui-g ui-fluid" *ngIf="tmpUnitPrefEdit">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="unit_pref_source" class="ptop">{{ "user-prefs.unit-prefs.lbl-source" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown
          *ngIf="tmpUnitPrefEdit"
          id="unit_pref_source"
          required
          scrollHeight="9em"
          [options]="getSourceSelectList()"
          [(ngModel)]="tmpUnitPrefEdit.source"
          [placeholder]="'user-prefs.unit-prefs.dropdown-please-select' | translate"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="unit_pref_name" class="ptop">{{ "user-prefs.unit-prefs.lbl-displ-name" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input
          id="unit_pref_name"
          required
          pInputText
          class="form-control"
          [(ngModel)]="tmpUnitPrefEdit.displName"
          (keyup)="onKeyUpDialogUnitPref($event)"
        />
        <div *ngIf="unitPrefAlreadyExists" class="alert alert-danger">
          {{ unitPrefAlreadyExists }}
        </div>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        *ngIf="!isSaveMode"
        type="button"
        pButton
        icon="pi pi-check"
        (click)="confirmDialogUnitPref()"
        [label]="'user-prefs.unit-prefs.btn-ok' | translate"
        [disabled]="unitPrefAlreadyExists || !tmpUnitPrefEdit || tmpUnitPrefEdit.displName.trim().length === 0"
      ></button>
      <button
        *ngIf="isSaveMode"
        type="button"
        pButton
        icon="pi pi-save"
        (click)="saveDialogUnitPref()"
        [label]="'user-prefs.unit-prefs.btn-save' | translate"
        [disabled]="unitPrefAlreadyExists || !tmpUnitPrefEdit || tmpUnitPrefEdit.displName.trim().length === 0"
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times-circle"
        (click)="cancelDialogUnitPref()"
        [label]="'user-prefs.unit-prefs.btn-cancel' | translate"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog #cd key="unitPrefConfirmation" icon="fa fa-exclamation-triangle" appendTo="body">
  <p-footer>
    <button type="button" (click)="cd.accept()" class="btn btn-mdm">
      <span class="pi pi-check"></span>
    </button>
    <button type="button" (click)="cd.reject()" class="btn btn-mdm">
      <span class="pi pi-times"></span>
    </button>
  </p-footer>
</p-confirmDialog>

<p-dialog
  [header]="'user-prefs.unit-prefs.title-takeover' | translate"
  [(visible)]="takeOverDialogVisible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <span *ngIf="!takeOverNameExists">{{ "user-prefs.unit-prefs.msg-takeover" | translate }}</span>
  <span *ngIf="takeOverNameExists">{{ "user-prefs.unit-prefs.msg-takeover-name-exists" | translate }}</span>

  <div class="mt-2">
    <input type="text" pInputText [(ngModel)]="takeOverUnitPreference.displName" />
  </div>

  <ng-template pTemplate="footer">
    <p-button (click)="takeOver()" [label]="'user-prefs.unit-prefs.btn-save' | translate"></p-button>
    <p-button (click)="takeOverDialogVisible = false" [label]="'user-prefs.unit-prefs.btn-cancel' | translate"></p-button>
  </ng-template>
</p-dialog>
