/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/
.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100%;
}

.system-selector .text {
  display:inline;
  padding-right: 0.5em;
}

.ml20 {
  margin-left: 20px;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

label.ptop {
  padding-top: .5em;
}

.col-form-label {
  min-width: calc(18.667% - 38px);
}

.btn-group>.dropdown-toggle,
.btn-group>.btn {
  width: 300px;
  text-align: left;
}

.btn-group>.dropdown-toggle .pre-caret,
.btn-group>.btn .pre-caret {
  display: inline-block;
  text-overflow: ellipsis;
  width: calc(100% - 14px)
}
