<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div *ngIf="measurements === undefined || measurements.length === 0" class="alert alert-info" style="margin: 0">
  <strong>{{ "chartviewer.xy-chart-viewer-nav-card.no-node-selected" | translate }}</strong>
</div>

<div *ngIf="measurements !== undefined && measurements.length > 0">
  <mdm-xy-chart-viewer [measurements]="measurements"></mdm-xy-chart-viewer>
  <mdm-xy-chart-viewer-popup></mdm-xy-chart-viewer-popup>
</div>
