/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/


table.searchdefinition td { vertical-align: middle; padding: 4px 8px; }

p-autoComplete ::ng-deep .ui-autocomplete-multiple-container.ui-inputtext {
  overflow: inherit !important;
}

p-autoComplete ::ng-deep ul {
  width: 100%;
}

::ng-deep .p-autocomplete input::placeholder {
  opacity: .8;
}

p-autoComplete ::ng-deep .ui-widget:disabled,
p-autoComplete ::ng-deep .ui-state-disabled {
  opacity: .5;
}

::ng-deep .ui-tooltip-text {
  width: 20rem;
}

.linked-icon, .unlinked-icon {
  margin-right: 2px;
  float: right;
  padding: 4px;
  border-radius: 40px;
  border: 1px solid #007ad9;
}
.linked-icon {
  color: white;
  background: #007ad9;
}
.unlinked-icon {
  color: #007ad9;
}

.linked-container {
  display: inline-grid;
  grid-template-columns: 1.8rem auto;
  align-items: center;
  width: 100%;
}
