<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div *ngIf="!filesAttachable">
  <div class="alert alert-info" style="margin: 0">
    <strong>{{ status | translate : { type: selectedNode?.type } }}</strong>
  </div>
</div>
<div *ngIf="filesAttachable" style="height: 100%">
  <mdm-file-explorer [node]="selectedNode" [attribute]="linkAttr" [readOnly]="false"></mdm-file-explorer>
</div>
