<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div class="details-wrapper">
  <div>
    <nav class="navbar navbar-expand bg-light detail-nav ui-corner-all" *ngIf="isVisible('context')">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-mdm-detail-navbar">
          <ul class="nav navbar-nav mdm-link-list">
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="'mdm-modules.details.general.show' | hasFunctionalRight | async">
              <a class="nav-link" routerLink="general"> {{ "details.mdm-detail.general" | translate }}</a>
            </li>
            <li
              class="nav-item"
              [routerLinkActive]="['active']"
              *ngIf="'mdm-modules.details.context.show' | hasFunctionalRight : { context: 'uut' } | async"
            >
              <a class="nav-link" routerLink="uut"> {{ "details.mdm-detail.unit-under-test" | translate }}</a>
            </li>
            <li
              class="nav-item"
              [routerLinkActive]="['active']"
              *ngIf="'mdm-modules.details.context.show' | hasFunctionalRight : { context: 'ts' } | async"
            >
              <a class="nav-link" routerLink="ts"> {{ "details.mdm-detail.test-sequence" | translate }}</a>
            </li>
            <li
              class="nav-item"
              [routerLinkActive]="['active']"
              *ngIf="'mdm-modules.details.context.show' | hasFunctionalRight : { context: 'te' } | async"
            >
              <a class="nav-link" routerLink="te"> {{ "details.mdm-detail.test-equipment" | translate }}</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']" *ngIf="'mdm-modules.details.sensors.show' | hasFunctionalRight | async">
              <a class="nav-link" routerLink="sensors"> {{ "details.mdm-detail.sensors" | translate }} </a>
            </li>
            <li
              *ngIf="isMeasurement && ('mdm-modules.details.parameter-sets.show' | hasFunctionalRight | async)"
              class="nav-item"
              [routerLinkActive]="['active']"
            >
              <a class="nav-link" routerLink="parametersets"> {{ "details.mdm-detail.parametersets" | translate }} </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <nav class="navbar navbar-expand bg-light detail-nav ui-corner-all" *ngIf="isVisible('channel')">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-mdm-detail-navbar">
          <ul class="nav navbar-nav mdm-link-list">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="general"> {{ "details.mdm-detail.general" | translate }}</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="parametersets"> {{ "details.mdm-detail.parametersets" | translate }} </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div style="height: 100%; overflow: hidden">
    <router-outlet></router-outlet>
  </div>
</div>
