<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div *ngIf="measurement === undefined" class="alert alert-info" style="margin: 0">
  <strong>{{ "chartviewer.xy-chart-viewer-nav-card.no-node-selected" | translate }}</strong>
</div>

<div *ngIf="measurement !== undefined">
  <p-panel>
    <ng-template pTemplate="header">
      <p-selectButton [options]="modes" [(ngModel)]="selectedMode"></p-selectButton>
      <span *ngIf="totalCachedChannels > limit && !allLoaded">
        <span class="toolbar-spacer"></span>
        <button
          type="button"
          class="btn btn-mdm toolbar-btn"
          (click)="loadMissingChannels($event)"
          title="{{ 'chartviewer.chart-viewer-nav-card.load-missing-channels' | translate : openChannels }}"
        >
          <span class="pi pi-plus"></span> {{ "chartviewer.chart-viewer-nav-card.load-missing-channels" | translate : openChannels }}
        </button>
      </span>
    </ng-template>
    <ng-template pTemplate="icons">
      <mdm-sharelink></mdm-sharelink>
    </ng-template>

    <div [ngSwitch]="selectedMode">
      <mdm-chart-viewer
        *ngSwitchCase="'chart'"
        #chart
        [measurement]="measurement"
        [selectedChannelRows]="selectedChannelRows"
      ></mdm-chart-viewer>
      <mdm-data-table
        *ngSwitchCase="'table'"
        #table
        [measurement]="measurement"
        [selectedChannelRows]="selectedChannelRows"
      ></mdm-data-table>
      <div *ngSwitchDefault></div>
    </div>
  </p-panel>
</div>
