<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<p-dialog
  header="MDM Web Login"
  [(visible)]="showDialog"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '20rem' }"
>
  <div *ngIf="showError">${{ showError }}</div>

  <div class="card border-none">
    <form class="form-signin" method="post" action="j_security_check">
      <div class="field">
        <label for="firstname1">Username</label>
        <input
          type="text"
          pInputText
          class="form-control"
          name="j_username"
          placeholder="Username"
          required
          autofocus
          [(ngModel)]="username"
        />
      </div>
      <div class="field">
        <label for="lastname1">Password</label>
        <input type="password" pPassword class="form-control" name="j_password" placeholder="Password" required [(ngModel)]="password" />
      </div>
    </form>
  </div>

  <p-footer>
    <p-button icon="pi pi-check" (onClick)="onSubmit()" label="Login"></p-button>
  </p-footer>
</p-dialog>

<p-dialog
  header="{{ 'core.authentication.login-dialog.session-expired' | translate }}" 
  [(visible)]="onlyInfo"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [style]="{ width: '20rem' }"
>
  <div>"{{ 'core.authentication.login-dialog.session-expired-relogin' | translate }}" </div>
  <p-footer>
    <p-button (onClick)="onRefresh()" label="zum Login"></p-button>
  </p-footer>
</p-dialog>
