/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/


.schedtblcol0 {
  width: 41%;
  word-break: break-all;
}
.schedtblcol1 {
  width: 10%;
  word-break: break-all;
}
.schedtblcol2 {
  width: 10%;
  word-break: break-all;
}
.schedtblcol3 {
  width: 30%;
  word-break: break-all;
}
.schedtblcol4,
.schedtblcol5,
.schedtblcol6 {
  width: 3%;
}

.scheduleoverlay {
    width: 550px !important;
}

.schedtblinput0 {
  width: 100%;
}

.importscheduler-scheduler-viewer-container {
  display: block;
}

.importscheduler-scheduler-viewer-container .buttoncontainer {
    text-align: right;
    padding-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.importscheduler-scheduler-viewer-container .commands,
.scheduler-comp .commands {
  min-height: 30px;
  display: block;
  margin-bottom: 10px;
  margin-top: 6px;
  width: 100%;
}

.importscheduler-scheduler-viewer-container .commands button,
.scheduler-comp .commands button {
  margin-left: 10px;
}

.scheduler-table {
    margin-top: 10px;
}
.scheduler-table .button-col{
  width:60px;
}

.scheduler-table td input{width:100%;}

.dialogcommands {padding-top:10px;min-height:45px;}
.dialogcommands button {margin-left:10px;}
