<!-- ********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0 
 *
 ******************************************************************************** -->

<div class="scheduler-comp">
  <div *ngIf="!jobs">{{ "importscheduler.scheduler.loading" | translate }}</div>

  <div *ngIf="jobs">
    <div class="importscheduler-scheduler-viewer-container">
      <div class="buttoncontainer">
        <button
          type="button"
          class="btn btn-default"
          (click)="rescheduleMultiple()"
          title="{{ 'importscheduler.scheduler.btn-reschedule' | translate }}"
        >
          {{ "importscheduler.scheduler.btn-reschedule" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-default btn-reloaddata"
          (click)="changeFilter()"
          title="{{ 'importscheduler.scheduler.btn-reload' | translate }}"
        >
          {{ "importscheduler.scheduler.btn-reload" | translate }}
        </button>
      </div>

      <p-table
        #dt
        class="scheduler-table"
        [value]="jobs"
        styleClass="table-hover"
        [columns]="cols"
        [lazy]="true"
        (onLazyLoad)="loadJobsLazy($event)"
        [paginator]="true"
        [rows]="rowsPerPage"
        [lazyLoadOnInit]="false"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [autoLayout]="true"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns; let i = index" class="schedtblcol{{ i }}">
              {{ col.header | translate }}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns; let i = index" class="schedtblcol{{ i }}" [ngSwitch]="col.field">
              <input
                *ngSwitchCase="'jobObject'"
                pInputText
                type="text"
                class="schedtblinput0"
                (keyup.enter)="changeFilter()"
                [(ngModel)]="filterStateFile"
              />
              <p-dropdown
                *ngSwitchCase="'jobState'"
                [options]="jobStates"
                [style]="{ width: '100%' }"
                [(ngModel)]="filterJobState"
                (onChange)="changeFilter()"
              ></p-dropdown>
              <div *ngSwitchCase="'fileDate'">
                <p-calendar
                  appendTo="body"
                  placeholder="von"
                  appendTo="body"
                  selectionMode="single"
                  dateFormat="dd.mm.yy"
                  showButtonBar="true"
                  monthNavigator="true"
                  yearNavigator="true"
                  yearRange="2019:2030"
                  showTime="true"
                  hourFormat="24"
                  (onSelect)="changeFilter()"
                  (onClearClick)="changeFilter()"
                  [readonlyInput]="true"
                  [(ngModel)]="filterDateFrom"
                ></p-calendar>
                <p-calendar
                  appendTo="body"
                  placeholder="bis"
                  appendTo="body"
                  selectionMode="single"
                  dateFormat="dd.mm.yy"
                  showButtonBar="true"
                  monthNavigator="true"
                  yearNavigator="true"
                  yearRange="2019:2030"
                  showTime="true"
                  hourFormat="24"
                  (onSelect)="changeFilter()"
                  (onClearClick)="changeFilter()"
                  [readonlyInput]="true"
                  [(ngModel)]="filterDateTo"
                ></p-calendar>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index" class="schedtblcol{{ i }}" [ngSwitch]="col.field">
              <span *ngSwitchCase="'jobState'">{{
                "importscheduler.scheduler.job-state." + rowData[col.field].toLowerCase() | translate
              }}</span>
              <span *ngSwitchCase="'jobObject'">{{ getStateFile(rowData[col.field]) }}</span>
              <span *ngSwitchCase="'fileDate'">{{ getDateFromTimestamp(rowData[col.field]) | date : "medium" }}</span>
              <span *ngSwitchCase="'infoShort'">{{ rowData[col.field] }}</span>
              <div *ngSwitchCase="'btn-info'">
                <div *ngIf="rowData['infoShort']">
                  <div style="width: 20px; height: 20px">
                    <span class="fa fa-info-circle" (click)="openOverlay(rowData['stateFile'], rowData['info'])"></span>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'btn-reschedule'">
                <button
                  *ngIf="'FAILED' === rowData['jobState']"
                  type="button"
                  class="btn btn-default pull-right"
                  (click)="rescheduleJob(rowData)"
                  title="{{ 'importscheduler.scheduler.btn-reschedule' | translate }}"
                >
                  <span class="fa fa-pencil-square-o"></span>
                </button>
              </div>
              <div *ngSwitchCase="'btn-delete'">
                <button
                  *ngIf="'RUNNING' !== rowData['jobState']"
                  type="button"
                  class="btn btn-default pull-right"
                  (click)="removeJob(rowData)"
                  title="{{ 'importscheduler.scheduler.btn-del' | translate }}"
                >
                  <span class="fa fa-times"></span>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-dialog header="{{ overlayTitle }}" [(visible)]="showInfoDialog">
        <div *ngIf="overlayText" class="scheduleoverlay">
          <span>{{ overlayText }}</span>
        </div>
      </p-dialog>

      <p-dialog header="{{ 'importscheduler.scheduler.dialog-scheduler-delete-title' | translate }}" [(visible)]="dialogDelete">
        <div class="text">
          <span>{{ "importscheduler.scheduler.dialog-scheduler-delete-text" | translate }}</span>
        </div>
        <div class="dialogcommands">
          <button type="button" class="btn btn-default pull-right" (click)="confirmRemoveJob()">
            <span class="fa fa-plus"></span> {{ "importscheduler.scheduler.btn-del" | translate }}
          </button>
          <button type="button" class="btn btn-default pull-right" (click)="cancelRemoveJob()">
            <span class="fa fa-times"></span> {{ "importscheduler.scheduler.btn-cancel" | translate }}
          </button>
        </div>
      </p-dialog>

      <p-dialog header="{{ 'importscheduler.scheduler.dialog-scheduler-reschedule-title' | translate }}" [(visible)]="dialogReschedule">
        <div class="text">
          <span>{{ "importscheduler.scheduler.dialog-scheduler-reschedule-text" | translate }}</span>
        </div>
        <div class="dialogcommands">
          <button type="button" class="btn btn-default pull-right" (click)="confirmRescheduleJob()">
            <span class="fa fa-plus"></span> {{ "importscheduler.scheduler.btn-reschedule" | translate }}
          </button>
          <button type="button" class="btn btn-default pull-right" (click)="cancelRescheduleJob()">
            <span class="fa fa-times"></span> {{ "importscheduler.scheduler.btn-cancel" | translate }}
          </button>
        </div>
      </p-dialog>

      <p-dialog
        header="{{ 'importscheduler.scheduler.dialog-scheduler-reschedule-title' | translate }}"
        [(visible)]="dialogRescheduleMultiple"
      >
        <div class="text">
          <span>{{ "importscheduler.scheduler.dialog-scheduler-reschedule-multiple-text" | translate }}</span>
        </div>
        <div class="text">
          {{ "importscheduler.scheduler.lbl-days" | translate }}
          <input type="text" [(ngModel)]="rescheduleDays" />
        </div>
        <div class="dialogcommands">
          <button type="button" class="btn btn-default pull-right" (click)="confirmRescheduleMultiple()">
            <span class="fa fa-plus"></span> {{ "importscheduler.scheduler.btn-reschedule" | translate }}
          </button>
          <button type="button" class="btn btn-default pull-right" (click)="cancelRescheduleMultiple()">
            <span class="fa fa-times"></span> {{ "importscheduler.scheduler.btn-cancel" | translate }}
          </button>
        </div>
      </p-dialog>
    </div>
  </div>
</div>
