<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<style>
  :host ::ng-deep .p-toast .p-toast-message .p-toast-message-content {
    word-break: break-word;
  }
  :host ::ng-deep .p-badge {
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
</style>
<i
  class="pi pi-bell"
  pBadge
  [value]="lastMessages.length"
  style="font-size: 1.25rem; color: rgba(255, 255, 255, 0.5)"
  (click)="op.toggle($event)"
></i>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <ng-container *ngIf="lastMessages.length > 0">
      <div class="flex flex-row-reverse flex-wrap mt-2">
        <div class="flex"><p-button icon="pi pi-trash" (onClick)="lastMessages = []; op.toggle($event)"></p-button></div>
      </div>
      <p-messages [(value)]="lastMessages"></p-messages>
    </ng-container>

    <div *ngIf="lastMessages.length === 0">No messages available.</div>
  </ng-template>
</p-overlayPanel>

<p-toast baseZIndex="2000">
  <ng-template let-message pTemplate="message">
    <span *ngIf="message.severity !== 'warn' && message.severity !== 'error'" class="p-toast-message-icon pi pi-info-circle"></span>
    <span
      *ngIf="message.severity === 'warn' || message.severity === 'error'"
      class="p-toast-message-icon pi pi-exclamation-triangle"
    ></span>
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{ message.summary }}</div>
      <div class="p-toast-detail">{{ message.detail }}</div>

      <div *ngIf="message?.data?.causes" style="font-size: 70%">
        Backend messages:
        <ul style="padding-inline-start: 10px">
          <li *ngFor="let cause of message?.data?.causes">
            {{ cause }}
          </li>
        </ul>
      </div>

      <div *ngIf="message?.data?.traceID" class="p-toast-detail" style="margin-top: 1ex">
        Trace-ID: <span style="font-weight: bold">{{ message?.data?.traceID }}</span>
        <span (click)="copyTraceID(message?.data?.traceID)" title="Copy" style="cursor: pointer" class="pi pi-copy"></span>
      </div>
    </div>
  </ng-template>
</p-toast>
