<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<p-dialog
  [header]="'core.overwrite-dialog.label-with-this-name-already-exists' | translate : label"
  [(visible)]="showChildOverwriteModal"
  [modal]="true"
>
  {{ "core.overwrite-dialog.content-are-you-sure" | translate }}
  <p-footer>
    <p-button icon="pi pi-times" (onClick)="overwrite(false)" [label]="'core.overwrite-dialog.btn-cancel' | translate"></p-button>
    <p-button icon="pi pi-check" (onClick)="overwrite(true)" [label]="'core.overwrite-dialog.btn-overwrite' | translate"></p-button>
  </p-footer>
</p-dialog>
