/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/
.content-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: hidden;
}

.system-selector .text {
  display:inline;
  padding-right: 0.5em;
}

.ml20 {
  margin-left: 20px;
}

.inline {
  display: inline-block;
  vertical-align: top;
}

label.ptop {
  padding-top: .5em;
}

.col-form-label {
  min-width: calc(18.667% - 41px);
}

.commands {
  min-height: 30px;
  display: block;
  margin-bottom: 10px;
  margin-top:10px;
  width: 100%;
  padding-right: .837em;
}
.commands button {
  margin-left: 10px;
}

.formula-filter-table {
    margin-top: 10px;
}
.formula-filter-table .button-col{
  width:120px;
}

.formula-filter-table .dense{width:13%;}
.formula-filter-table .medium{width:19%;}
.formula-filter-table .wide{width:calc(88% - 120px);}
.formula-filter-table td.dense,
.formula-filter-table td.medium,
.formula-filter-table td.wide{overflow: hidden; white-space: nowrap; min-width: max-content;}
.formula-filter-table th.dense,
.formula-filter-table th.medium

.formula-filter-table td.vmid{vertical-align: middle;}

.remove, .edit {
  color: black;
  cursor: pointer;
  float: right;
}

.system-selector .text {
  display:inline;
  padding-right: 0.5em;
}

.ml20 {
  margin-left: 20px;
}

/*
Mustard:
bg: 255 225 98 #ffE162
brd: 215 194 119 #D7C277
txt: 99 77 47 #634D2F
Dandellon: 
  txt: #866A31;
  bg: #ffE17D;
  brd: #E7C64C;
*/
.alert-hint {
    color: #715100;
    background-color: #fffbd6;
    border-color: #ead5a0;
    white-space: pre;
}

.alert-hint pre {
  color: #715100;
  font-family: inherit;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
