<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<div class="content-wrapper">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <label class="col-form-label" [title]="'user-prefs.formula-prefs.lbl-formula-list' | translate">{{
        "user-prefs.formula-prefs.lbl-formula-list" | translate
      }}</label>
      <!--<button type="button" class="btn btn-mdm" (click)="onNewFormulaPref($event)" [title]=" 'user-prefs.formula-prefs.tooltip-create-new-formula-pref' | translate "><span class="fa fa-file-o"></span></button>-->
      <p-button
        icon="pi pi-save"
        styleClass="ml-1"
        (onClick)="$event.stopPropagation(); saveDialogFormulaPrefs()"
        [title]="'user-prefs.formula-prefs.tooltip-save-formula-pref' | translate"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        styleClass="ml-1"
        (onClick)="onDeleteFormulaPrefs($event)"
        [title]="'user-prefs.formula-prefs.tooltip-delete-formula-pref' | translate"
      ></p-button>
    </div>
  </p-toolbar>

  <div style="height: 100%; overflow: hidden">
    <p-table
      class="formula-filter-table"
      [value]="formulaPreferences"
      *ngIf="formulaPreferences"
      styleClass="table-hover p-datatable-gridlines"
      [scrollable]="true"
      scrollHeight="flex"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="medium">{{ "user-prefs.formula-prefs.lbl-displ-name" | translate }}</th>
          <th class="wide">{{ "user-prefs.formula-prefs.lbl-formula" | translate }}</th>
          <th class="button-col"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-formulaPref let-rowIndex="rowIndex">
        <tr>
          <td style="vertical-align: middle">
            <span>{{ formulaPref.displName }}</span>
          </td>

          <td class="wide" style="vertical-align: middle">
            <span>{{ formulaPref.formulaInput }}</span>
          </td>

          <td class="vmid">
            <p-button
              id="remove"
              icon="pi pi-times"
              [label]="'user-prefs.formula-prefs.btn-add' | translate"
              (onClick)="onRemoveFormulaPref($event, rowIndex)"
            ></p-button>
            <p-button
              id="edit"
              icon="pi pi-pencil"
              [label]="'user-prefs.formula-prefs.btn-add' | translate"
              (onClick)="onEditFormulaPref($event, rowIndex)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="formulaPreferences" class="commands">
    <p-button icon="pi pi-plus" [label]="'user-prefs.formula-prefs.btn-add' | translate" (onClick)="onNewFormulaPref($event)"></p-button>
  </div>
</div>

<p-dialog
  [header]="'user-prefs.formula-prefs.delete-title' | translate"
  [(visible)]="isShowDialogFormulaPrefDelete"
  [modal]="true"
  (onHide)="cancelRemoveFormulaPref()"
  (keyup.enter)="cancelRemoveFormulaPref()"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="text">
        <span *ngIf="tmpFormulaPrefDeleteIdx > -1"
          >{{ "user-prefs.formula-prefs.delete-text" | translate }}&nbsp; <br /><strong *ngIf="tmpFormulaPrefDeleteIdx > -1">{{
            formulaPreferences[tmpFormulaPrefDeleteIdx].displName
          }}</strong>
        </span>
        <span *ngIf="tmpFormulaPrefDeleteIdx < 0"
          ><strong>{{ "user-prefs.formula-prefs.delete-all-text" | translate }}</strong></span
        >
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix text-left">
      <button type="button" class="btn btn-mdm btn-default" (click)="cancelRemoveFormulaPref()">
        <span class="pi pi-times"></span> {{ "user-prefs.formula-prefs.btn-cancel" | translate }}
      </button>
      <button type="button" class="btn btn-mdm pull-right" (click)="confirmedRemoveFormulaPref()">
        <span class="pi pi-check"></span> {{ "user-prefs.formula-prefs.btn-delete" | translate }}
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  showEffect="fade"
  [modal]="true"
  [contentStyle]="{ width: '44em', 'min-height': '30em' }"
  [header]="'user-prefs.formula-prefs.new_dialog-title' | translate"
  [(visible)]="isShowDialogFormulaPrefEdit"
  (onHide)="hideDialogFormulaPref()"
>
  <div class="ui-g ui-fluid" *ngIf="tmpFormulaPrefEdit">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="formula_pref_name" class="ptop">{{ "user-prefs.formula-prefs.lbl-displ-name" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input
          id="formula_pref_name"
          required
          pInputText
          class="form-control"
          [(ngModel)]="tmpFormulaPrefEdit.displName"
          (keyup)="onKeyUpDialogFormulaPref($event)"
        />
        <div *ngIf="formulaPrefAlreadyExists" class="alert alert-danger">
          {{ formulaPrefAlreadyExists }}
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="formula_pref_input" class="ptop">{{ "user-prefs.formula-prefs.lbl-formula" | translate }}</label>
      </div>
      <div class="ui-g-8">
        <input
          id="formula_pref_input"
          required
          pInputText
          class="form-control"
          [(ngModel)]="tmpFormulaPrefEdit.formulaInput"
          (keyup)="onKeyUpDialogFormulaPrefInput($event)"
          (keydown.tab)="onKeyUpDialogFormulaPrefInput($event, true)"
        />
        <div
          *ngIf="tmpFormulaPrefEdit.hasInput() && !tmpFormulaPrefEdit.isValid() && tmpFormulaPrefEdit.formulaError"
          class="alert alert-danger"
        >
          {{ tmpFormulaPrefEdit.formulaError }}
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="alert alert-hint">
        <pre>{{ "user-prefs.formula-prefs.content-syntax-hint" | translate }}</pre>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        type="button"
        pButton
        icon="pi pi-check"
        (click)="confirmDialogFormulaPref()"
        [label]="'user-prefs.formula-prefs.btn-ok' | translate"
        [disabled]="
          formulaPrefAlreadyExists ||
          !tmpFormulaPrefEdit ||
          tmpFormulaPrefEdit.displName.trim().length === 0 ||
          !tmpFormulaPrefEdit.isValid()
        "
      ></button>
      <button
        type="button"
        pButton
        icon="pi pi-times-circle"
        (click)="cancelDialogFormulaPref()"
        [label]="'user-prefs.formula-prefs.btn-cancel' | translate"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog #cd key="formulaPrefConfirmation" icon="fa fa-exclamation-triangle" appendTo="body">
  <p-footer>
    <button type="button" (click)="cd.accept()" class="btn btn-mdm">
      <span class="pi pi-check"></span>
    </button>
    <button type="button" (click)="cd.reject()" class="btn btn-mdm">
      <span class="pi pi-times"></span>
    </button>
  </p-footer>
</p-confirmDialog>
