<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->
<p-table [value]="selectedFileMetasUpload" styleClass="table-hover p-datatable-gridlines">
  <!-- caption -->
  <ng-template pTemplate="caption">
    <div class="line-height-1 p-2">
      <!-- add -->
      <div class="display: hidden" title="{{ 'file-explorer.file-explorer.btn-add-files' | translate }}">
        <span class="pi pi-plus"></span>
        <input
          #fileinput
          id="fileUploadInput"
          title="{{ 'file-explorer.file-explorer.btn-add-files' | translate }}"
          class="upload"
          name="datei"
          type="file"
          (change)="onSelectFileForUpload($event)"
          multiple
        />
      </div>
      <p-button icon="pi pi-plus" (onClick)="fileinput.click()" [title]="'file-explorer.file-explorer.btn-add-files' | translate">
      </p-button>

      <!-- upload -->
      <p-button
        icon="pi pi-check"
        styleClass="ml-1"
        (onClick)="onUploadSelectedFiles($event)"
        [title]="'file-explorer.file-explorer.btn-upload-file-selection' | translate"
        [disabled]="selectedFileMetasUpload?.length === 0"
      >
      </p-button>
      <!-- remove all -->
      <p-button
        icon="fa fa-eraser"
        styleClass="ml-1"
        (onClick)="onClearSelectedFileMetasUpload($event)"
        [title]="'file-explorer.file-explorer.btn-remove-all-files-from-selection' | translate"
        [disabled]="selectedFileMetasUpload?.length === 0"
      >
      </p-button>
    </div>
  </ng-template>

  <!-- header -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 50px"></th>
      <th>{{ "file-explorer.file-explorer.hdr-filename" | translate }}</th>
      <th>{{ "file-explorer.file-explorer.hdr-description" | translate }}</th>
      <!-- <th>{{'file-explorer.file-explorer.hdr-type' | translate}}</th> -->
      <th>{{ "file-explorer.file-explorer.hdr-size" | translate }}</th>
      <th style="width: 68px"></th>
    </tr>
  </ng-template>

  <!-- body -->
  <ng-template pTemplate="body" let-filedata>
    <tr>
      <td>
        <mdm-thumbnail [imgUrl]="filedata.dataUrl" [type]="filedata.file.type"></mdm-thumbnail>
      </td>
      <td>{{ filedata.file.name }}</td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" [(ngModel)]="filedata.description" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ filedata.description }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>{{ filedata.file.size | fileSize : formatSize.BINARY }}</td>
      <td>
        <button
          type="button"
          class="btn btn-mdm"
          (click)="onRemoveFile($event, filedata)"
          title="{{ 'file-explorer.file-explorer.btn-remove-file-from-selection' | translate }}"
        >
          <span class="pi pi-times"></span>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
