<div class="mdm-value-list-viewer-container">
  <p-table
    class="value-list-table"
    [value]="valueLists"
    *ngIf="selectedEnvironment && valueLists"
    styleClass="table-hover p-datatable-gridlines"
    (onRowSelect)="onValueListRowSelect()"
    (onRowUnselect)="onValueListRowUnselect()"
    selectionMode="single"
    [(selection)]="selectedValueList"
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template pTemplate="caption" *ngIf="selectedEnvironment">
      <div class="caption-wrapper">
        <p-button icon="pi pi-plus" (onClick)="addValueList()" [label]="'administration.value-list.btn-add' | translate"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "administration.value-list.name" | translate }}</th>
        <th>{{ "administration.value-list.description" | translate }}</th>
        <th class="button-col"></th>
        <th class="button-col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>
          <span>{{ rowData.name }}</span>
        </td>
        <td>
          <span>{{ rowData.description }}</span>
        </td>
        <td>
          <p-button
            icon="pi pi-pencil"
            (onClick)="editValueList(rowData)"
            [title]="'administration.value-list.btn-edit' | translate"
          ></p-button>
        </td>
        <td>
          <p-button
            icon="pi pi-trash"
            (onClick)="removeValueList(rowData)"
            [title]="'administration.value-list.btn-del' | translate"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog
    [header]="'administration.value-list.dialog-value-list-delete-title' | translate"
    [(visible)]="dialogValueListDelete"
    [modal]="true"
    [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  >
    <div class="text">
      <span>{{ "administration.value-list.dialog-value-list-delete-text" | translate }}</span>
    </div>
    <p-footer>
      <p-button
        icon="pi pi-trash"
        styleClass="p-button-danger"
        (onClick)="confirmRemoveValueList()"
        [label]="'administration.value-list.btn-del' | translate"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (onClick)="cancelRemoveValueList()"
        [label]="'administration.value-list.btn-cancel' | translate"
      ></p-button>
    </p-footer>
  </p-dialog>

  <p-dialog
    header="{{ 'administration.value-list.dialog-value-list-title' | translate }}"
    [(visible)]="dialogValueListCreate"
    [modal]="true"
    [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  >
    <div class="list-group gap-3" *ngIf="tmpValueListCreate">
      <div class="flex flex-column gap-2">
        <label for="unit_name">{{ "administration.extsystem.name" | translate }}</label>
        <input required pInputText type="text" [(ngModel)]="tmpValueListCreate.name" />
      </div>
    </div>
    <p-footer>
      <p-button icon="pi pi-plus" (onClick)="saveDialogValueList()" [label]="'administration.value-list.btn-save' | translate"></p-button>
      <p-button
        icon="pi pi-times"
        (onClick)="cancelDialogValueList()"
        [label]="'administration.value-list.btn-cancel' | translate"
      ></p-button>
    </p-footer>
  </p-dialog>

  <div style="margin-top: 20px" *ngIf="selectedValueList">
    <div class="font-bold my-2">{{ "administration.value-list.value-list-values" | translate }}</div>
    <p-table [value]="valueListValues" styleClass="table-hover p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "administration.value-list.value" | translate }}</th>
          <th>{{ "administration.value-list.description" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td>{{ rowData.value }}</td>
          <td>{{ rowData.description }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="loadingValueListValues">{{ "administration.value-list.loading-values" | translate }}</div>
  </div>
</div>
