<!-- ********************************************************************************
 * Copyright (c) 2025 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->

<div *ngIf="selectedEnvironment && valueLists" style="height: 100%; overflow: hidden">
  <div class="commands">
    <p-button
      *ngIf="editorMode"
      icon="pi pi-backward"
      (onClick)="onEditModeChange(false)"
      [label]="'administration.value-list.btn-back' | translate"
    ></p-button>
  </div>

  <mdm-value-list-viewer
    *ngIf="!editorMode"
    [selectedEnvironment]="selectedEnvironment"
    [valueLists]="valueLists"
    (editMode)="onEditModeChange($event)"
    (selectedVL)="onChangeSelectedValueList($event)"
  >
  </mdm-value-list-viewer>
  <mdm-value-list-editor
    *ngIf="editorMode"
    [selectedEnvironment]="selectedEnvironment"
    [valueLists]="valueLists"
    [selectedVL]="selectedValueList"
    (editMode)="onEditModeChange($event)"
  ></mdm-value-list-editor>
</div>
