/********************************************************************************
 * Copyright (c) 2025 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/
 
.mdm-value-list-editor-container .commands,
.mdm-value-list-viewer-container .commands,
.value-list-comp .commands,
.value-list-comp .commands {
  min-height: 30px;
  display: block;
  margin-bottom: 10px;
  margin-top: 6px;
  width: 100%;
}
.mdm-value-list-editor-container .commands button,
.mdm-value-list-viewer-container .commands button,
.value-list-comp .commands button,
.value-list-comp .commands button {
  margin-left: 10px;
}

