<div class="mdm-value-list-editor-container">
  <p-table
    class="value-list-table"
    [value]="tableValueLists"
    *ngIf="selectedEnvironment && valueLists"
    styleClass="table-hover p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "administration.value-list.name" | translate }}</th>
        <th>{{ "administration.value-list.description" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td>
          <input pInputText required type="text" [(ngModel)]="rowData.name" />
        </td>
        <td>
          <input pInputText required type="text" [(ngModel)]="rowData.description" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="commands">
    <p-button icon="pi pi-plus" (onClick)="saveValueList()" [label]="'administration.extsystem.btn-save' | translate"> </p-button>
  </div>

  <div style="margin-top: 20px" *ngIf="selectedValueList">
    <div class="font-bold my-2">{{ "administration.value-list.value-list-values" | translate }}</div>
    <p-table class="value-list-attr-table p-datatable-gridlines" [value]="valueListValues">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "administration.value-list.value" | translate }}</th>
          <th>{{ "administration.value-list.description" | translate }}</th>
          <th class="actioncol"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
          <td><input pInputText required type="text" [(ngModel)]="rowData.value" (change)="updateValueListValue(rowData)" /></td>
          <td>
            <input pInputText required type="text" [(ngModel)]="rowData.description" (change)="updateValueListValue(rowData)" />
          </td>
          <td class="actioncol">
            <button
              type="button"
              class="btn btn-default"
              (click)="removeValueListValue(rowData)"
              title="{{ 'administration.extsystem.btn-del' | translate }}"
            >
              <span class="pi pi-times"></span>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="loadingValueListValues">{{ "administration.value-list.loading-values" | translate }}</div>

    <div class="commands">
      <p-button icon="pi pi-plus" (onClick)="addValueListValue()" [label]="'administration.value-list.btn-add' | translate"> </p-button>
    </div>
  </div>
</div>
