/********************************************************************************
 * Copyright (c) 2025 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/

.caption-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.system-selector .text {
  display: inline;
  padding-right: 0.5em;
}

.mdm-qtt-viewer-container {
  height: 100%;
  overflow: hidden;
}

.quantity-table .button-col {
  width: 60px;
}

.quantity-table .dense {
  width: 8%;
}
.quantity-table .wide {
  width: 15%;
}
.quantity-table td.dense,
.quantity-table td.wide {
  overflow: hidden;
  white-space: nowrap;
}
.quantity-table th.dense,
.quantity-table td.wide {
  min-width: max-content;
}

.actioncol {
  width: 65px;
}
