<!-- ********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ******************************************************************************** -->

<div class="mdm-qtt-viewer-container">
  <p-dialog
    [header]="'administration.quantities.dialog-qtt-delete-title' | translate"
    [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
    [(visible)]="dialogQuantityDelete"
    (onHide)="cancelRemoveQuantity()"
  >
    <div class="ui-g ui-fluid" *ngIf="tmpQttDelete">
      <div class="ui-g-12">
        <div class="text">
          <span>{{ "administration.quantities.dialog-qtt-delete-text" | translate }}</span
          >&nbsp;<strong *ngIf="tmpQttDelete">{{ tmpQttDelete.name }}</strong>
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <p-button
          icon="pi pi-times"
          (onClick)="cancelRemoveQuantity()"
          [label]="'administration.quantities.btn-cancel' | translate"
        ></p-button>
        <button
          type="button"
          class="p-button-danger"
          pButton
          icon="pi pi-trash"
          (click)="confirmRemoveQuantity()"
          [label]="'administration.quantities.btn-del' | translate"
        ></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog
    [header]="editTitle"
    [(visible)]="dialogQuantityEdit"
    showEffect="fade"
    [modal]="true"
    (onHide)="hideDialogQuantity()"
    [style]="{ width: '38.2vw', minWidth: '32.8rem' }"
  >
    <div class="list-group gap-3" *ngIf="tmpQttEdit">
      <div class="flex flex-column gap-2">
        <label for="qtt_name">{{ "administration.quantities.name" | translate }}</label>
        <input
          *ngIf="dialogCanEditName"
          id="qtt_name"
          required
          pInputText
          [(ngModel)]="tmpQttEdit.name"
          (keyup)="nameCheckUnique()"
          class="form-control"
        />
        <div *ngIf="qttAlreadyExists" class="alert alert-danger">
          {{ qttAlreadyExists }}
        </div>
        <span *ngIf="!dialogCanEditName" id="qtt_name">{{ tmpQttEdit.name }}</span>
      </div>

      <div class="flex flex-column gap-2">
        <label for="qtt_desc">{{ "administration.quantities.description" | translate }}</label>
        <input id="qtt_desc" pInputText [(ngModel)]="tmpQttEdit.desc" class="form-control" />
      </div>

      <div class="flex flex-column gap-2">
        <label for="qtt_data_type">{{ "administration.quantities.data-type" | translate }}</label>
        <p-dropdown
          *ngIf="tmpQttEdit"
          id="qtt_data_type"
          required
          scrollHeight="9em"
          [options]="getDataTypes()"
          [(ngModel)]="tmpQttEdit.selectedDataType"
          optionLabel="label"
          dataKey="value"
          [placeholder]="'administration.quantities.dropdown-please-select' | translate"
        ></p-dropdown>
      </div>

      <div class="flex flex-column gap-2">
        <label for="qtt_unit">{{ "administration.quantities.unit" | translate }}</label>
        <p-dropdown
          *ngIf="tmpQttEdit"
          id="qtt_unit"
          required
          scrollHeight="9em"
          [options]="units"
          [(ngModel)]="tmpQttEdit.selectedUnit"
          optionLabel="name"
          dataKey="id"
          [placeholder]="'administration.quantities.dropdown-please-select' | translate"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div class="flex flex-column gap-2" *ngIf="tmpQttEdit && tmpQttEdit.cd">
        <label for="qtt_cd">{{ "administration.quantities.create-date" | translate }}</label>
        <span id="qtt_cd">{{ tmpQttEdit.fmtCreateDate }}</span>
      </div>

      <div class="flex flex-column gap-2">
        <label for="qtt_version">{{ "administration.quantities.version" | translate }}</label>
        <span *ngIf="tmpQttEdit" id="qtt_version">{{ tmpQttEdit.version }}</span>
      </div>

      <div class="flex flex-column gap-2">
        <label for="qtt_mt">{{ "administration.quantities.mime-type" | translate }}</label>
        <span *ngIf="tmpQttEdit" id="qtt_mt">{{ tmpQttEdit.mt }}</span>
      </div>
    </div>

    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button
          type="button"
          pButton
          icon="pi pi-check"
          (click)="saveDialogQuantity()"
          [label]="'administration.quantities.btn-save' | translate"
        ></button>
        <button
          type="button"
          pButton
          icon="pi pi-times"
          (click)="cancelDialogQuantity()"
          [label]="'administration.quantities.btn-cancel' | translate"
        ></button>
      </div>
    </p-footer>
  </p-dialog>

  <p-table
    class="quantity-table"
    [value]="quantities"
    *ngIf="environment"
    styleClass="table-hover p-datatable-gridlines"
    (onRowSelect)="onQuantityRowSelect($event)"
    selectionMode="single"
    [(selection)]="selectedQuantity"
    sortMode="multiple"
    [multiSortMeta]="[{ field: 'name', order: 1 }]"
    [scrollable]="true"
    scrollHeight="flex"
  >
    <ng-template pTemplate="caption" *ngIf="environment">
      <div class="caption-wrapper">
        <p-button icon="pi pi-plus" [label]="'administration.quantities.btn-add' | translate" (onClick)="addQuantity()"></p-button>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="dense" pSortableColumn="name" sortOrder="1">
          {{ "administration.quantities.name" | translate }}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th class="wide" pSortableColumn="desc" max-width="10">
          {{ "administration.quantities.description" | translate }}
          <p-sortIcon field="desc"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="dataType">
          {{ "administration.quantities.data-type" | translate }}
          <p-sortIcon field="dataType"></p-sortIcon>
        </th>
        <th pSortableColumn="unitName">
          {{ "administration.quantities.unit" | translate }}
          <p-sortIcon field="unitName"></p-sortIcon>
        </th>
        <th pSortableColumn="fmtCreateDate">
          {{ "administration.quantities.create-date" | translate }}
          <p-sortIcon field="fmtCreateDate"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="version">
          {{ "administration.quantities.version" | translate }}
          <p-sortIcon field="version"></p-sortIcon>
        </th>
        <th class="dense" pSortableColumn="statusName">
          {{ "administration.quantities.status" | translate }}
          <p-sortIcon field="statusName"></p-sortIcon>
        </th>
        <th class="wide" pSortableColumn="mt">
          {{ "administration.quantities.mime-type" | translate }}
          <p-sortIcon field="mt"></p-sortIcon>
        </th>
        <th class="button-col"></th>
        <th class="button-col"></th>
        <th class="button-col"></th>
        <th class="button-col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" [pContextMenuRow]="rowData">
        <td class="dense">
          <span>{{ rowData.name }}</span>
        </td>
        <td class="wide">
          <span>{{ rowData.desc }}</span>
        </td>
        <td class="dense">
          <span>{{ rowData.dataType }}</span>
        </td>
        <td>
          <span>{{ rowData.unitName }}</span>
        </td>
        <td>
          <span *ngIf="rowData.cd">{{ rowData.fmtCreateDate }}</span>
        </td>
        <td class="dense">
          <span>{{ rowData.version }}</span>
        </td>
        <td class="dense">
          <span>{{ rowData.statusName }}</span>
        </td>
        <td class="wide">
          <span>{{ rowData.mt }}</span>
        </td>
        <td class="button-col">
          <p-button
            icon="pi pi-copy"
            (onClick)="copyQuantity(rowData)"
            [title]="'administration.quantities.btn-copy' | translate"
          ></p-button>
        </td>
        <td class="button-col">
          <p-button
            icon="pi pi-trash"
            (onClick)="removeQuantity(rowData)"
            [title]="'administration.quantities.btn-del' | translate"
            [disabled]="rowData.status === 'VALID'"
          ></p-button>
        </td>
        <td class="button-col">
          <p-button
            *ngIf="rowData.status === 'VALID'"
            icon="fa fa-archive"
            (onClick)="archiveQuantity(rowData)"
            [title]="'administration.quantities.btn-archive' | translate"
          ></p-button>
          <p-button
            *ngIf="rowData.status === 'EDITABLE'"
            icon="fa fa-share-alt"
            (onClick)="publishQuantity(rowData)"
            [title]="'administration.quantities.btn-valid' | translate"
          ></p-button>
        </td>
        <td class="button-col">
          <p-button
            icon="pi pi-plus-circle"
            (onClick)="newVersion(rowData)"
            [title]="'administration.quantities.btn-new-version' | translate"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
