/********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************/

/* You can add global styles to this file, and also import other style files */
html {
  line-height: 1;
}

body {
  line-height: 1;
}

.auto-width-dropdown {
  width: fit-content !important;
}

.auto-width-dropdown .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  width: 100% !important;
}

.card-header {
  padding: 0.6rem 0.1rem;
}

.navbar {
  font-size: 1em;
  padding: 0rem 1rem;
}

.navbar-brand {
  font-size: 1em;
}

.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 0.1rem 0.25rem;
}

.icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 18px;
  height: 1em;
  margin: 0;
  background-image: url("assets/famfamfam_icons/information.png");
}
.environment {
  background-image: url("assets/famfamfam_icons/database.png");
}
.project {
  background-image: url("assets/famfamfam_icons/house.png");
}
.pool {
  background-image: url("assets/famfamfam_icons/paste_plain.png");
}
.test {
  background-image: url("assets/famfamfam_icons/brick_add.png");
}
.teststep {
  background-image: url("assets/famfamfam_icons/brick.png");
}
.measurement {
  background-image: url("assets/famfamfam_icons/chart_curve.png");
}
.channelgroup {
  background-image: url("assets/famfamfam_icons/calendar.png");
}
.channel {
  background-image: url("assets/famfamfam_icons/chart_curve_go.png");
}
.quantity {
  background-image: url("assets/famfamfam_icons/chart_curve_go.png");
}
.unit {
  background-image: url("assets/famfamfam_icons/chart_curve_go.png");
}

.ui-datatable .ui-datatable-data > tr > td {
  padding: 0.25em 0.5em !important;
}

.ui-datatable .ui-datatable-thead > tr > th {
  padding: 0.5em 0.5em !important;
}

.greyed * {
  color: #ccc !important;
  border-color: #e3e3e3 !important;
}

div .thinheader {
  margin-top: -5px;
  margin-bottom: -5px;
}

.ui-togglebutton.btn-mdm,
.btn-mdm {
  font-size: 14px;
  margin: 0 3px;
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.btn-mdm-no-margin {
  font-size: 14px;
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}

.btn-mdm:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-mdm-del:hover {
  color: #fff;
  background-color: #f34039;
  border-color: #6c757d;
}

.ui-togglebutton.btn-mdm {
  width: 2.8em !important;
}

.ui-togglebutton.btn-mdm.ui-button-icon-only .ui-button-text {
  padding: 0.1em !important;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px;
  margin-left: 3px;
  margin-right: 3px;
  font-weight: bold;
}

mdm-tableview {
  width: 100%;
}

.mdm-link-list > li.active > a {
  background-color: #e7e7e7;
  color: #333;
}

.mdm-link-list > li > a:hover {
  cursor: pointer;
  color: black;
}

.mdm-link-list > li > a {
  cursor: pointer;
  color: #888;
}

/*
.mainnavigation {
  display: block;
  position: relative;
}
.mainnavigation #leftsidenav .navbar {
  margin-bottom: 0.5em !important;
}
.mainnavigation .split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.mainnavigation .gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-left: 2px;
  width: 8px !important;
}
.mainnavigation .gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.mainnavigation .split,
.mainnavigation .gutter.gutter-horizontal {
  display: inline-block;
  vertical-align: top;
}
.p-splitter {
  border: none;
}*/

.tooltip.ui-tooltip .ui-tooltip-text {
  background-color: white;
  color: darkslategray;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* menu */
.p-menuitem-link-active {
  background-color: #e9ecef;
}

/* toolbar */
.p-toolbar {
  padding: 0.25rem 0.5rem;
  line-height: 1;
}

/* tree */
.p-tree {
  padding: 0;
  border: none;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  padding: 0;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler {
  width: 1rem;
  height: 1rem;
}

/* treetable */
.p-treetable {
  padding: 0;
  border: none;
  line-height: 1;
}
.p-treetable .p-treetable-tbody > tr > td {
  padding: 0.1rem 0.25rem;
}
.p-treetable .p-treetable-thead > tr > th {
  padding: 0.1rem 0.25rem;
}
.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler {
  width: 1rem;
  height: 1rem;
}
.p-treetable .p-treetable-header {
  padding: 0 0.25rem;
}

/* datatable */
.p-datatable .p-datatable-thead > tr > th {
  padding: 0.5rem 0.5rem;
  text-align: center;
}
.p-datatable .p-datatable-header {
  padding: 0 0.25rem;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}
.p-column-filter-menu-button {
  height: 1.5rem;
  width: 1.5rem;
}

.p-panel.detail-panel .p-panel-icons-end {
  display: flex;
}
/* panel */
/*.p-panel .p-panel-header {
  padding: 0.25rem 0.5rem;
}*/
.p-panel .p-panel-content {
  padding: 0.5rem 1rem;
}
.p-panel .p-panel-header,
.p-panel.p-panel-toggleable .p-panel-header {
  padding: 0.25rem 0.5rem;
}

/* inputnumber */
.p-inputnumber-input {
  padding: 0 0.5rem;
}

/* togglebutton */
.p-togglebutton.p-button.p-highlight {
  background: #007bff;
  border-color: #007bff;
  color: #ffffff;
}
.p-togglebutton.p-button.p-highlight:hover {
  background: #0069d9;
  border-color: #0069d9;
  color: #ffffff;
}
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight) {
  background: #e9ecef;
  border-color: #ced4da;
  color: #495057;
}
.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover {
  background: #ced4da;
  border-color: #ced4da;
  color: #495057;
}
.p-togglebutton.p-button:not(.p-highlight) .p-button-icon {
  color: #495057;
}

.p-button.p-button-icon-only {
  padding: 0.5rem 0.75rem;
}
.announcement-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.announcement-header {
  display: flex;
}
.announcement-read-more {
  cursor: pointer;
  font-weight: 500;
}

.announcement-messages-header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding-bottom: .25rem;
  align-items: center;
    /* Vertically center the items (optional) */
    gap: 10px;
}

.announcement-messages-wrapper .p-message-wrapper {
  display: block !important;
  padding: .5rem .5rem .25rem .5rem;
}
