<!--********************************************************************************
 * Copyright (c) 2015, 2023 Contributors to the Eclipse Foundation
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 ********************************************************************************-->

<div class="admin-wrapper">
  <div style="height: 100%; overflow: auto">
    <p-menu [model]="links" styleClass="w-full"></p-menu>
    <p-dropdown
      [style]="{ display: 'flex' }"
      (onChange)="onChangeEnviroment()"
      [options]="environments"
      [(ngModel)]="selectedEnvironment"
      [placeholder]="selectedEnvironment !== undefined ? selectedEnvironment : ('administration.dropdown-please-select' | translate)"
    ></p-dropdown>
    <p-menu [model]="items" styleClass="w-full" *ngIf="selectedEnvironment"></p-menu>
  </div>
  <div style="height: 100%; overflow: hidden">
    <router-outlet></router-outlet>
  </div>
</div>
