:host ::ng-deep .p-menuitem-link[target=separator] {
    height: 0;
    display: block;
    padding: 0;
    min-height: 0;
    border-bottom: 1px #525252 solid;
}

.admin-wrapper {
    display: grid;
    grid-template-columns: minmax(16rem, 16%) 1fr;
    column-gap: .5rem;
    padding: .5rem;
    height: 100%;
    overflow: hidden;
}