<br />

<p-contextMenu #cm [model]="items" appendTo="body" (onShow)="selectedTpl(selectedTestTpl)"></p-contextMenu>

<p-table
  [(contextMenuSelection)]="selectedTestTpl"
  selectionMode="single"
  [contextMenu]="cm"
  [(selection)]="selectedTestTpl"
  editMode="row"
  (onRowSelect)="onRowSelect($event)"
  dataKey="id"
  [value]="testTemplates"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <p-checkbox
        trueValue="true"
        falseValue="false"
        [label]="'administration.templateManager.showArchived' | translate"
        [binary]="true"
        (onChange)="showArchived($event)"
      ></p-checkbox>
      <p-button
        icon="pi pi-plus"
        [label]="'administration.testTpl.createTestTemplate' | translate"
        (onClick)="showCreateNewTestTpl()"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>{{ "administration.testTpl.name" | translate }}</th>
      <th>{{ "administration.testTpl.version" | translate }}</th>
      <th>{{ "administration.testTpl.validFlag" | translate }}</th>
      <th>{{ "administration.testTpl.description" | translate }}</th>
      <th>{{ "administration.testTpl.dateCreated" | translate }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-testTpl let-rowIndex="rowIndex" let-editing="editing" let-ri="rowIndex">
    <tr
      [class.d-none]="testTpl.validFlag === 'ARCHIVED' && !showArchivedTpls"
      [pRowToggler]="testTpl"
      [pSelectableRow]="testTpl"
      [pSelectableRowIndex]="rowIndex"
      [pContextMenuRow]="testTpl"
      [pEditableRow]="testTpl"
    >
      <td *ngIf="testTpl.validFlag === 'EDITABLE'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input class="form-control" pInputText type="text" [(ngModel)]="testTpl.name" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ testTpl.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td *ngIf="testTpl.validFlag !== 'EDITABLE'">
        {{ testTpl.name }}
      </td>
      <td>{{ testTpl.version }}</td>
      <td>{{ testTpl.validFlag }}</td>
      <td>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input class="form-control" pInputText type="text" [(ngModel)]="testTpl.description" />
          </ng-template>
          <ng-template pTemplate="output">
            {{ testTpl.description }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td>{{ testTpl.dateCreated }}</td>
    </tr>
  </ng-template>
</p-table>
<p-dialog [header]="'administration.testTpl.createTestTemplate' | translate" [(visible)]="showCreateDialog" [style]="{ width: '20vw' }">
  <label class="mb-3">{{ "administration.testTpl.name" | translate }} </label>
  <input pInputText type="text" class="form-control" [(ngModel)]="newTestTplName" />
  <p-button class="float-right mt-3" [label]="'administration.testTpl.create' | translate" (onClick)="createNewTestTpl()"></p-button>
</p-dialog>

<p-dialog header="Delete" [(visible)]="showDeleteDialog" [style]="{ width: '20vw' }">
  <label class="mb-3">{{ "administration.testTpl.deleteDialog" | translate }}</label>
  <p-button class="float-right mt-3" [label]="'administration.testTpl.cancel' | translate" (onClick)="showDeleteDialog = false"></p-button>

  <p-button class="float-right mr-2 mt-3" [label]="'administration.testTpl.delete' | translate" (onClick)="deleteTestTpl()"></p-button>
</p-dialog>

<p-dialog [header]="'administration.catalog.editTranslations' | translate" [(visible)]="showTranslations" [style]="{ width: '50vw' }">
  <p-table [value]="[selectedTestTpl]">
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "administration.catalog.name" | translate }}</th>
        <th *ngFor="let l of translations?.languages"><img class="mx-1" [src]="'assets/famfamfam_icons/' + l + '.png'" />{{ l }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-testTpl>
      <tr style="border-bottom: 2px solid black">
        <td class="vertical-align-middle">{{ testTpl?.name }}</td>
        <td *ngFor="let l of translations?.languages; let langIndex = index">
          <input class="w-full" type="text" pInputText [(ngModel)]="translations?.nameTranslations[langIndex]" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-footer>
    <p-button [label]="'administration.catalog.btn-save' | translate" (click)="saveTranslations()"> </p-button>
    <p-button [label]="'administration.catalog.btn-cancel' | translate" (click)="closeTranslationsDialog()"> </p-button>
  </p-footer>
</p-dialog>
